<template>
  <validation-observer ref="obsTab2">
    <v-form
      slot-scope="{ invalid, validated }"
      lazy-validation>
      <v-container py-0>
        <v-layout
          wrap
          justify-center>
          <v-flex
            lg3
            md6
            sm10
            xs12>
            <validation-provider
              rules="required"
              name="description">
              <v-text-field
                slot-scope="{
                              errors,
                              valid
                            }"
                :error-messages="errors"
                :success="valid"
                :label="$t('Dashboard.TimeTracker.Worklog.description')"
                v-model="startEndModel.description"
                dir="auto"
                name="description"
                required
              />
            </validation-provider>
          </v-flex>
          <v-flex
            lg1
            md2
            sm2
            xs12
            class="mr-4">
            <v-menu
              ref="startDateMenu"
              v-model="startDateMenu"
              :close-on-content-click="false"
              :nudge-right="40"
              :return-value.sync="startDate"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  :label="$t('Dashboard.TimeTracker.Worklog.startDate')"
                  :value="startDate | FormatDate"
                  readonly
                  v-on="on"
                />
              </template>
              <v-date-picker
                :first-day-of-week="-1"
                v-model="startDate"
                no-title
                dark
                scrollable
                locale="fa"
              >
                <v-spacer />
                <v-btn
                  flat
                  color="primary"
                  @click="startDateMenu = false"
                >{{ $t('Dashboard.TimeTracker.Worklog.cancel') }}</v-btn>
                <v-btn
                  flat
                  color="primary"
                  @click="$refs.startDateMenu.save(startDate)"
                >{{ $t('Dashboard.TimeTracker.Worklog.ok') }}</v-btn>
              </v-date-picker>
            </v-menu>
            <validation-provider
              rules="required|dayTime"
              name="startTime"
            >
              <v-text-field
                slot-scope="{
                              errors,
                              valid
                            }"
                :error-messages="errors"
                :success="valid"
                :label="$t('Dashboard.TimeTracker.Worklog.startTime')"
                v-model="startTime"
                dir="auto"
                name="startTime"
                placeholder="00:00:00"
                required
              />
            </validation-provider>
          </v-flex>
          <v-flex
            lg1
            md1
            sm2
            xs12
            class="mr-4">
            <v-menu
              ref="endDateMenu"
              v-model="endDateMenu"
              :close-on-content-click="false"
              :nudge-right="40"
              :return-value.sync="endDate"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  :label="$t('Dashboard.TimeTracker.Worklog.endDate')"
                  :value="endDate | FormatDate"
                  readonly
                  v-on="on"
                />
              </template>
              <v-date-picker
                :first-day-of-week="-1"
                v-model="endDate"
                no-title
                scrollable
                dark
                locale="fa">
                <v-spacer />
                <v-btn
                  flat
                  color="primary"
                  @click="endDateMenu = false"
                >{{ $t('Dashboard.TimeTracker.Worklog.cancel') }}</v-btn>
                <v-btn
                  flat
                  color="primary"
                  @click="$refs.endDateMenu.save(endDate)"
                >{{ $t('Dashboard.TimeTracker.Worklog.ok') }}</v-btn>
              </v-date-picker>
            </v-menu>
            <validation-provider
              rules="required|dayTime"
              name="endTime"
            >
              <v-text-field
                slot-scope="{
                              errors,
                              valid
                            }"
                :error-messages="errors"
                :success="valid"
                :label="$t('Dashboard.TimeTracker.Worklog.endTime')"
                v-model="endTime"
                dir="auto"
                name="endTime"
                placeholder="00:00:00"
                required
              />
            </validation-provider>
          </v-flex>
          <v-flex
            lg1
            class="mr-4"
            shrink>
            <v-select
              :items="teamListItems"
              v-model="startEndModel.team"
              clearable
              dense
              label="تیم"/>
          </v-flex>
          <v-flex
            lg1
            class="mr-4"
            shrink>
            <v-select
              :items="projectListItems"
              v-model="startEndModel.project"
              clearable
              dense
              label="پروژه"/>
          </v-flex>
          <v-flex
            lg2
            class="mr-4"
            shrink>
            <v-select
              :items="tagListItems"
              v-model="startEndModel.tags"
              clearable
              dense
              multiple
              label="برچسب ها"/>
          </v-flex>
          <v-flex
            xs12
            text-xs-center>
            <v-btn
              :disabled="invalid || !validated"
              class="mx-0 font-weight-light"
              color="success"
              type="primary"
              @click.prevent="submitStartEndModel"
            >{{ $t('Dashboard.TimeTracker.Worklog.subtmiBottonLabel') }}</v-btn>
          </v-flex>
          <v-snackbar
            v-model="notification"
            :color="color"
            left
            bottom>
            {{ text }}
            <v-btn
              :color="color"
              flat
              @click="notification = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-snackbar>
        </v-layout>
      </v-container>
    </v-form>
  </validation-observer>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
import momentjalaali from 'moment-jalaali'
import VuePersianDatetimePicker from 'vue-persian-datetime-picker'

export default {
  name: 'TimeTracker',
  components: {
    datePicker: VuePersianDatetimePicker
  },
  filters: {
    FormatDate (date) {
      return momentjalaali(date).format('jYYYY/jM/jD')
    }
  },
  data: () => ({
    loading: true,
    expand: false,
    search: '',
    startDate: new Date().toISOString().substr(0, 10),
    startDateMenu: false,
    endDate: new Date().toISOString().substr(0, 10),
    endDateMenu: false,
    startTime: '00:00:00',
    endTime: '00:00:00',
    isTimerStart: false,
    tabs: 0,
    notification: false,
    color: '',
    text: '',
    list: {
      0: false,
      1: false,
      2: false
    },
    started: false,
    durationModel: {
      description: null,
      duration: '00:00:00'
    },
    startEndModel: {
      description: null,
      start: '00:00:00',
      finish: '00:00:00',
      team: null,
      project: null,
      tags: null
    },
    timerModel: {
      description: null,
      start: new Date()
    },
    headers: [
      {
        sortable: false,
        text: 'Description',
        value: 'description',
        align: 'right'
      },
      {
        sortable: false,
        text: 'Duration',
        value: 'duration',
        align: 'right'
      },
      {
        sortable: false,
        text: 'Action',
        align: 'center'
      }
    ]
  }),
  computed: {
    ...mapState('team', ['teamList']),
    ...mapState('tag', ['tagList']),
    ...mapState('project', ['projectList']),
    teamListItems () {
      if (this.teamList != null) {
        return this.teamList.map(team => {
          return {
            text: team.name,
            value: team.id
          }
        })
      } else {
        return []
      }
    },
    projectListItems () {
      if (this.projectList != null) {
        return this.projectList.map(project => {
          return {
            text: project.name,
            value: project.id
          }
        })
      } else {
        return []
      }
    },
    tagListItems () {
      if (this.tagList != null) {
        return this.tagList.map(tag => {
          return {
            text: tag.name,
            value: tag.name
          }
        })
      } else {
        return []
      }
    }
  },
  // computed: {
  //   ...mapState("timeTracker", ["worklogListDataTable", "worklogPagination"]),
  //   worklogListDataTable() {
  //     return this.$store.state.timeTracker.worklogListDataTable;
  //   },
  //   worklogPagination: {
  //     get: function() {
  //       return this.$store.state.timeTracker.worklogPagination;
  //     },
  //     set: function(value) {
  //       this.setWorklogPagination(value);
  //     }
  //   }
  // },
  watch: {
    worklogPagination: {
      handler () {
        this.loading = true
        this.worklogPaginationHandler().then(() => {
          this.loading = false
        })
      },
      deep: true
    }
  },
  beforeMount () {
    this.getWorklogList()
    this.isTimerStart =
      false ||
      this.$store.state.timeTracker.isTimerStart ||
      JSON.parse(window.localStorage.getItem('isTimerStart'))
  },
  methods: {
    ...mapActions('timeTracker', [
      'getWorklogList',
      'worklogPaginationHandler',
      'durationModelWorklog',
      'startEndModelWorklog',
      'startTimerModelWorklog',
      'stopTimerModelWorklog',
      'deleteWorklog'
    ]),
    ...mapActions('team', ['getTeamList']),
    ...mapActions('project', ['getProjectList']),
    ...mapActions('tag', ['getTagList']),
    ...mapMutations('timeTracker', ['setWorklogPagination']),
    submitDurationModel () {
      this.durationModelWorklog(this.durationModel)
        .then(() => {
          // this.$swal({
          //   title: this.$t(
          //     'Dashboard.TimeTracker.Worklog.worklogSubmitedSuccessfully'
          //   ),
          //   icon: 'success',
          //   buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
          // })
          this.color = 'success'
          this.text = this.$t('Dashboard.TimeTracker.Worklog.worklogSubmitedSuccessfully')
          this.notification = true
          this.durationModel.description = null
          this.durationModel.duration = '00:00:00'
          this.$refs.obsTab1.reset()
          this.loading = true
          this.getWorklogList().then(() => {
            this.loading = false
          })
        })
        .catch(() => {
          // this.$swal({
          //   title: this.$t(
          //     'Dashboard.TimeTracker.Worklog.worklogSubmitedFailed'
          //   ),
          //   icon: 'error',
          //   buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
          // })
          this.color = 'error'
          this.text = this.$t('Dashboard.TimeTracker.Worklog.worklogSubmitedFailed')
          this.notification = true
        })
    },
    submitStartEndModel () {
      this.startEndModel.start = this.startDate + 'T' + this.startTime + 'Z'
      this.startEndModel.finish = this.endDate + 'T' + this.endTime + 'Z'
      this.startEndModelWorklog(this.startEndModel)
        .then(() => {
          // this.$swal({
          //   title: this.$t(
          //     'Dashboard.TimeTracker.Worklog.worklogSubmitedSuccessfully'
          //   ),
          //   icon: 'success',
          //   buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
          // })
          this.color = 'success'
          this.text = this.$t('Dashboard.TimeTracker.Worklog.worklogSubmitedSuccessfully')
          this.notification = true
          this.startEndModel.description = null
          this.startEndModel.team = null
          this.startEndModel.project = null
          this.startEndModel.tags = null
          this.startEndModel.start = '00:00:00'
          this.startEndModel.finish = '00:00:00'
          this.startTime = '00:00:00'
          this.endTime = '00:00:00'
          this.$refs.obsTab2.reset()
          this.loading = true
          this.getWorklogList().then(() => {
            this.loading = false
          })
        })
        .catch(() => {
          // this.$swal({
          //   title: this.$t(
          //     'Dashboard.TimeTracker.Worklog.worklogSubmitedFailed'
          //   ),
          //   icon: 'error',
          //   buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
          // })
          this.color = 'error'
          this.text = this.$t('Dashboard.TimeTracker.Worklog.worklogSubmitedFailed')
          this.notification = true
        })
    },
    startTimerModel () {
      this.timerModel.start = new Date().toISOString().split('.')[0] + 'Z'
      this.startTimerModelWorklog(this.timerModel)
        .then(() => {
          this.isTimerStart = true
          this.$swal({
            title: this.$t(
              'Dashboard.TimeTracker.Worklog.worklogStartSuccessfully'
            ),
            icon: 'success',
            buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
          })
        })
        .catch(() => {
          this.$swal({
            title: this.$t('Dashboard.TimeTracker.Worklog.worklogStartFailed'),
            icon: 'error',
            buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
          })
        })
    },
    stopTimerModel () {
      this.stopTimerModelWorklog()
        .then(() => {
          this.loading = false
          this.$swal({
            title: this.$t(
              'Dashboard.TimeTracker.Worklog.worklogStopSuccessfully'
            ),
            icon: 'success',
            buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
          })
          this.isTimerStart = false
          this.timerModel.description = null
          this.$refs.obsTab3.reset()
          this.getWorklogList().then(() => {
            this.loading = false
          })
        })
        .catch(() => {
          this.$swal({
            title: this.$t('Dashboard.TimeTracker.Worklog.worklogStopFailed'),
            icon: 'error',
            buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
          })
        })
    },
    delWorklog (worklogId) {
      this.$swal({
        title: this.$t('Dashboard.TimeTracker.Worklog.AreYouSureToDelete'),
        text: this.$t('Dashboard.TimeTracker.Worklog.IfYouDelete'),
        icon: 'warning',
        buttons: [
          this.$t('Dashboard.TimeTracker.Worklog.cancel'),
          this.$t('Dashboard.TimeTracker.Worklog.ok')
        ],
        dangerMode: true
      }).then(willDelete => {
        if (willDelete) {
          this.deleteWorklog(worklogId).then(() => {
            this.$swal({
              title: this.$t(
                'Dashboard.TimeTracker.Worklog.worklogDeleteSuccessfully'
              ),
              icon: 'success',
              buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
            })
            this.getWorklogList().then(() => {
              this.loading = false
            })
          })
        } else {
          this.$swal({
            title: this.$t('Dashboard.TimeTracker.Worklog.worklogNotDeleted'),
            icon: 'info',
            buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
          })
        }
      })
    }
  }
}
</script>
