<template>
  <validation-observer ref="obsTab1">
    <v-form
      slot-scope="{ invalid, validated }"
      lazy-validation>
      <v-container py-0>
        <v-layout
          wrap
          justify-center>
          <v-flex
            lg4
            md8
            sm10
            xs12>
            <validation-provider
              rules="required"
              name="description">
              <v-text-field
                slot-scope="{
                              errors,
                              valid
                            }"
                :error-messages="errors"
                :success="valid"
                :label="$t('Dashboard.TimeTracker.Worklog.description')"
                v-model="durationModel.description"
                dir="auto"
                name="description"
                required
              />
            </validation-provider>
          </v-flex>
          <v-flex
            lg1
            md2
            sm2
            xs12
            class="mr-4">
            <validation-provider
              rules="required|regex:^([0-9]{2}):([0-5][0-9]):([0-5][0-9])$"
              name="duration"
            >
              <v-text-field
                slot-scope="{
                              errors,
                              valid
                            }"
                :error-messages="errors"
                :success="valid"
                :label="$t('Dashboard.TimeTracker.Worklog.duration')"
                v-model="durationModel.duration"
                dir="auto"
                name="duration"
                placeholder="00:00:00"
                required
              />
            </validation-provider>
          </v-flex>
          <v-flex
            lg1
            class="mr-4"
            shrink>
            <v-select
              :items="teamListItems"
              v-model="durationModel.team"
              clearable
              dense
              label="تیم"/>
          </v-flex>
          <v-flex
            class="mr-4"
            shrink>
            <v-select
              :items="projectListItems"
              v-model="durationModel.project"
              clearable
              dense
              label="پروژه"/>
          </v-flex>
          <v-flex
            class="mr-4"
            shrink>
            <v-select
              :items="tagListItems"
              v-model="durationModel.tags"
              multiple
              clearable
              dense
              label="برچسب ها"/>
          </v-flex>
          <v-flex
            xs12
            text-xs-center>
            <v-btn
              :disabled="invalid || !validated"
              class="mx-0 font-weight-light"
              color="success"
              type="primary"
              @click.prevent="submitDurationModel"
            >{{ $t('Dashboard.TimeTracker.Worklog.subtmiBottonLabel') }}</v-btn>
          </v-flex>
          <v-snackbar
            v-model="notification"
            :color="color"
            left
            bottom>
            {{ text }}
            <v-btn
              :color="color"
              flat
              @click="notification = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-snackbar>
        </v-layout>
      </v-container>
    </v-form>
  </validation-observer>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
export default {
  name: 'TimeTracker',
  data: () => ({
    loading: true,
    expand: false,
    search: '',
    startDate: new Date().toISOString().substr(0, 10),
    startDateMenu: false,
    endDate: new Date().toISOString().substr(0, 10),
    endDateMenu: false,
    startTime: '00:00:00',
    endTime: '00:00:00',
    isTimerStart: false,
    tabs: 0,
    notification: false,
    color: '',
    text: '',
    list: {
      0: false,
      1: false,
      2: false
    },
    started: false,
    durationModel: {
      description: null,
      duration: '00:00:00',
      team: null,
      project: null,
      tags: null
    },
    startEndModel: {
      description: null,
      start: '00:00:00',
      finish: '00:00:00'
    },
    timerModel: {
      description: null,
      start: new Date()
    },
    headers: [
      {
        sortable: false,
        text: 'Description',
        value: 'description',
        align: 'right'
      },
      {
        sortable: false,
        text: 'Duration',
        value: 'duration',
        align: 'right'
      },
      {
        sortable: false,
        text: 'Action',
        align: 'center'
      }
    ]
  }),
  computed: {
    ...mapState('timeTracker', ['worklogListDataTable', 'worklogPagination']),
    ...mapState('team', ['teamList']),
    ...mapState('tag', ['tagList']),
    ...mapState('project', ['projectList']),
    // worklogListDataTable () {
    //   return this.$store.state.timeTracker.worklogListDataTable
    // },
    worklogPagination: {
      get: function () {
        return this.$store.state.timeTracker.worklogPagination
      },
      set: function (value) {
        this.setWorklogPagination(value)
      }
    },
    teamListItems () {
      if (this.teamList != null) {
        return this.teamList.map(team => {
          return {
            text: team.name,
            value: team.id
          }
        })
      } else {
        return []
      }
    },
    projectListItems () {
      if (this.projectList != null) {
        return this.projectList.map(project => {
          return {
            text: project.name,
            value: project.id
          }
        })
      } else {
        return []
      }
    },
    tagListItems () {
      if (this.tagList != null) {
        return this.tagList.map(tag => {
          return {
            text: tag.name,
            value: tag.name
          }
        })
      } else {
        return []
      }
    }
  },
  watch: {
    worklogPagination: {
      handler () {
        this.loading = true
        this.worklogPaginationHandler().then(() => {
          this.loading = false
        })
      },
      deep: true
    }
  },
  beforeMount () {
    this.getWorklogList()
    this.getTeamList()
    this.getProjectList()
    this.getTagList()
    this.isTimerStart =
      false ||
      this.$store.state.timeTracker.isTimerStart ||
      JSON.parse(window.localStorage.getItem('isTimerStart'))
  },
  methods: {
    ...mapActions('timeTracker', [
      'getWorklogList',
      'worklogPaginationHandler',
      'durationModelWorklog',
      'startEndModelWorklog',
      'startTimerModelWorklog',
      'stopTimerModelWorklog',
      'deleteWorklog'
    ]),
    ...mapActions('team', ['getTeamList']),
    ...mapActions('project', ['getProjectList']),
    ...mapActions('tag', ['getTagList']),
    ...mapMutations('timeTracker', ['setWorklogPagination']),
    submitDurationModel () {
      // this.durationModel.team = [this.durationModel.team]
      this.durationModelWorklog(this.durationModel)
        .then(() => {
          // this.$swal({
          //   title: this.$t(
          //     'Dashboard.TimeTracker.Worklog.worklogSubmitedSuccessfully'
          //   ),
          //   icon: 'success',
          //   buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
          // })
          this.color = 'success'
          this.text = this.$t('Dashboard.TimeTracker.Worklog.worklogSubmitedSuccessfully')
          this.notification = true
          this.durationModel.description = null
          this.durationModel.duration = '00:00:00'
          this.$refs.obsTab1.reset()
          this.loading = true
          this.durationModel.team = null
          this.durationModel.project = null
          this.durationModel.tags = null
          this.getWorklogList().then(() => {
            this.loading = false
          })
        })
        .catch(() => {
          // this.$swal({
          //   title: this.$t(
          //     'Dashboard.TimeTracker.Worklog.worklogSubmitedFailed'
          //   ),
          //   icon: 'error',
          //   buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
          // })
          this.color = 'error'
          this.text = this.$t('Dashboard.TimeTracker.Worklog.worklogSubmitedFailed')
          this.notification = true
        })
    },
    delWorklog (worklogId) {
      this.$swal({
        title: this.$t('Dashboard.TimeTracker.Worklog.AreYouSureToDelete'),
        text: this.$t('Dashboard.TimeTracker.Worklog.IfYouDelete'),
        icon: 'warning',
        buttons: [
          this.$t('Dashboard.TimeTracker.Worklog.cancel'),
          this.$t('Dashboard.TimeTracker.Worklog.ok')
        ],
        dangerMode: true
      }).then(willDelete => {
        if (willDelete) {
          this.deleteWorklog(worklogId).then(() => {
            this.$swal({
              title: this.$t(
                'Dashboard.TimeTracker.Worklog.worklogDeleteSuccessfully'
              ),
              icon: 'success',
              buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
            })
            this.getWorklogList().then(() => {
              this.loading = false
            })
          })
        } else {
          this.$swal({
            title: this.$t('Dashboard.TimeTracker.Worklog.worklogNotDeleted'),
            icon: 'info',
            buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
          })
        }
      })
    }
  }
}
</script>
