<template>
  <v-form
    lazy-validation>
    <v-container py-0>
      <v-layout
        wrap
        justify-center>
        <!--<v-flex >
          <validation-provider rules="required" name="description">
            <v-text-field
              slot-scope="{
                              errors,
                              valid
                            }"
              :error-messages="errors"
              :success="valid"
              :label="$t('Dashboard.TimeTracker.Worklog.description')"
              :disabled="isTimerStart"
              v-model="timerModel.description"
              dir="auto"
              name="description"
              required
            />
          </validation-provider>
        </v-flex>-->
        <v-flex
          lg3>
          <v-text-field
            v-model="model.description"
            autofocus
            placeholder="موضوع" />
        </v-flex>
        <v-flex
          lg1>
          <div class="btn-container">
            <a
              v-if="!running"
              id="start"
              @click="start()">
              <v-icon color="primary">mdi-play</v-icon>
            </a>
            <!-- <a v-if="this.running" @click="stop()" id="stop">Stop</a> -->
            <a
              v-if="running || timeStopped"
              id="finish"
              :class=" model.description == '' ? 'disabled' : '' "
              color="primary"
              @click="finish()"
            >
              <v-icon style="color:inherit">mdi-stop</v-icon>
            </a>
          </div>
        </v-flex>
        <v-layout>
          <v-flex
            lg1>
            <div id="clock">
              <span class="time">{{ model.duration }}</span>
            </div>
          </v-flex>
        </v-layout>
        <v-flex
          lg2
          class="mr-4">
          <v-select
            :items="teamListItems"
            v-model="model.team"
            clearable
            dense
            label="تیم">
            <v-icon
              lable="icon"
              small>
              mdi-home
            </v-icon>
          </v-select>
        </v-flex>
        <v-flex
          lg2
          class="mr-4">
          <v-select
            :items="projectListItems"
            v-model="model.project"
            clearable
            dense
            label="پروژه"/>
        </v-flex>
        <v-flex
          lg2
          class="mr-4">
          <v-select
            :items="tagListItems"
            v-model="model.tags"
            clearable
            multiple
            label="برچسب ها"/>
        </v-flex>
        <!-- <v-flex v-if="!isTimerStart" xs12 text-xs-center>
          <v-btn
            :disabled="invalid || !validated"
            class="mx-0 font-weight-light"
            color="success"
            type="primary"
            @click.prevent="startTimerModel"
          >{{ $t('Dashboard.TimeTracker.Worklog.startBottonLabel') }}</v-btn>
        </v-flex>
        <v-flex v-if="isTimerStart" xs12 text-xs-center>
          <v-btn
            class="mx-0 font-weight-light"
            color="success"
            type="primary"
            @click.prevent="stopTimerModel"
          >{{ $t('Dashboard.TimeTracker.Worklog.endBottonLabel') }}</v-btn>
        </v-flex>-->
        <v-snackbar
          v-model="notification"
          :color="color"
          left
          bottom>
          {{ text }}
          <v-btn
            :color="color"
            flat
            @click="notification = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-snackbar>
      </v-layout>
    </v-container>
  </v-form>
</template>
<script>
import { mapState, mapActions } from 'vuex'
import { setInterval } from 'timers'
// import { type } from 'os'

export default {
  name: 'TimeTracker',
  props: {
    value: {
      default: '',
      type: String
    }
  },
  data: function () {
    return {
      notification: false,
      color: '',
      text: '',
      model: {
        start: null,
        finish: null,
        duration: '00:00:00',
        description: '',
        team: null,
        project: null,
        tags: null
      },
      timeBegan: null,
      Endtime: null,
      timeStopped: null,
      stoppedDuration: 0,
      started: 0,
      running: false
    }
  },
  computed: {
    ...mapState('team', ['teamList']),
    ...mapState('tag', ['tagList']),
    ...mapState('project', ['projectList']),
    teamListItems () {
      if (this.teamList != null) {
        return this.teamList.map(team => {
          return {
            text: team.name,
            value: team.id
          }
        })
      } else {
        return []
      }
    },
    projectListItems () {
      if (this.projectList != null) {
        return this.projectList.map(project => {
          return {
            text: project.name,
            value: project.id
          }
        })
      } else {
        return []
      }
    },
    tagListItems () {
      if (this.tagList != null) {
        return this.tagList.map(tag => {
          return {
            text: tag.name,
            value: tag.name
          }
        })
      } else {
        return []
      }
    }
  },
  mounted: function () {
    var StartedTime = window.localStorage.getItem('StartTime')
    // var StoppedTime = window.localStorage.getItem('TimeStopped');
    if (StartedTime != null) {
      this.timeBegan = new Date(StartedTime)
      this.start('dont save')
    }
    this.getLastPeriod().then((LP) => {
      if (LP.data !== '') {
        this.timeBegan = new Date(LP.data.start)
        this.model.description = LP.data.description
        this.model.team = LP.data.team
        this.model.project = LP.data.project
        this.model.tags = LP.data.tags
        this.start('dont save')
      }
    })
    // if(StartedTime != null) {
    //   this.timeBegan = new Date(StartedTime);
    //   if(StoppedTime == null) {
    //   }
    // }
  },
  methods: {
    ...mapActions('timeTracker', ['durationModelWorklog', 'getWorklogList', 'getLastPeriod', 'updateLastPeriod']),

    start (message) {
      if (this.running) return
      if (this.timeBegan === null) {
        // this.finish()
        this.timeBegan = new Date()
        this.model.start = this.timeBegan.toISOString()
        this.durationModelWorklog({
          description: this.model.description,
          team: this.model.team,
          project: this.model.project,
          tags: this.model.tags,
          start: this.model.start.split('.')[0] + 'Z'
        })
      }
      if (this.timeStopped !== null) {
        this.stoppedDuration += new Date() - this.timeStopped
      }

      this.started = setInterval(this.clockRunning, 1000)
      this.running = true
    },

    stop () {
      this.running = false
      this.timeStopped = new Date()
      // window.localStorage.setItem('TimeStopped', this.timeStopped);
      clearInterval(this.started._id)
    },

    finish () {
      if (this.timeBegan != null) {
        this.Endtime = new Date()
        this.model.finish = this.Endtime.toISOString()
        if (this.model.team === undefined) {
          this.model.team = null
        }
        if (this.model.project === undefined) {
          this.model.project = null
        }
        this.updateLastPeriod({
          duration: this.model.duration,
          description: this.model.description,
          team: this.model.team,
          project: this.model.project,
          tags: this.model.tags,
          finish: this.model.finish.split('.')[0] + 'Z'
        })
          .then(() => {
            // this.$swal({
            //   title: this.$t(
            //     'Dashboard.TimeTracker.Worklog.worklogStopSuccessfully'
            //   ),
            //   icon: 'success',
            //   buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
            // })
            this.color = 'success'
            this.text = this.$t('Dashboard.TimeTracker.Worklog.worklogStopSuccessfully')
            this.notification = true
            document.title = this.$docTitle
            this.getWorklogList().then(() => {
              this.loading = false
            })
          })
          .catch(() => {
            // this.$swal({
            //   title: this.$t(
            //     'Dashboard.TimeTracker.Worklog.worklogSubmitedFailed'
            //   ),
            //   icon: 'error',
            //   buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
            // })
            this.color = 'error'
            this.text = this.$t('Dashboard.TimeTracker.Worklog.worklogSubmitedFailed')
            this.notification = true
          })
        this.model.description = ''
      }

      this.running = false
      clearInterval(this.started._id)
      this.stoppedDuration = 0
      this.timeBegan = null
      this.timeStopped = null
      this.model.duration = '00:00:00'
      this.model.team = null
      this.model.project = null
      this.model.tags = null
      window.localStorage.removeItem('StartTime')
      // window.localStorage.removeItem('TimeStopped');
    },

    clockRunning () {
      let currentTime = new Date()
      let timeElapsed = new Date(
        currentTime - this.timeBegan - this.stoppedDuration
      )
      // let timePast ( currentTime - )
      let hour = timeElapsed.getUTCHours()
      let min = timeElapsed.getUTCMinutes()
      let sec = timeElapsed.getUTCSeconds()
      // ms = timeElapsed.getUTCMilliseconds();

      this.model.duration =
        this.zeroPrefix(hour, 2) +
        ':' +
        this.zeroPrefix(min, 2) +
        ':' +
        this.zeroPrefix(sec, 2)
      document.title = this.model.duration + ' ' + this.$docTitle
      this.$emit('input', this.model.duration)
      // +
      // "." +
      // this.zeroPrefix(ms, 3);
    },

    zeroPrefix (num, digit) {
      var zero = ''
      for (var i = 0; i < digit; i++) {
        zero += '0'
      }
      return (zero + num).slice(-digit)
    }
  }
}
</script>
<style lang="scss">
// $color: rgb(200, 200, 200);
// $color-light: rgb(0, 0, 0);

@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");

#clock {
  order: 0;
  // flex: 0 1 auto;
  // align-self: center;

  color:  rgb(200, 200, 200);
  //text-shadow: 0px 0px 25px $color;

  .time {
    font-size: 1.75em;
  }

  // .btn-container {
  //   display: flex;
  //   //margin-top: 15px;
  //   text-align: center;
  //   padding-top: 18px;}

  //  .btn-container a {
  //     text-align: center;
  //     font-family: "Share Tech Mono", sans-serif;
  //     background: transparent;
  //     //border: 3px solid $color;
  //     border: none;
  //     color: $color;
  //     //padding: 10px 15px;
  //     margin: 0 10px;
  //     text-transform: uppercase;
  //     font-size: 3.5em;
  //     cursor: pointer;
  //     //text-shadow: 0px 0px 10px $color;
  //     text-align: center;
  //     padding-top: 18px;
  //     flex-grow: 1;

  //     transition: color 0.1s ease-out;

  //     &:hover {
  //       color: $color-light;
  //     }
  //   }
}
.disabled {
  pointer-events: none;
  color: gray;
}
</style>
