<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        xs6
      >
        <material-card
          :title="$t('Dashboard.Team.title')"
          color="primary"
        >

          <validation-observer ref="obsTeam">
            <v-form
              slot-scope="{ invalid, validated }"
              lazy-validation
            >
              <v-container
                py-0
              >
                <v-layout
                  wrap
                  justify-center
                >
                  <v-flex
                    md8
                    sm10
                    xs12
                  >
                    <validation-provider
                      rules="required"
                      name="name"
                    >
                      <v-text-field
                        slot-scope="{
                          errors,
                          valid
                        }"
                        :error-messages="errors"
                        :success="valid"
                        :label="$t('Dashboard.Team.name')"
                        v-model="model.name"
                        dir="auto"
                        autofocus
                        name="name"
                        required
                      />
                    </validation-provider>
                  </v-flex>
                  <v-flex
                    xs12
                    text-xs-center
                  >
                    <v-btn
                      :disabled="invalid || !validated"
                      class="mx-0 font-weight-light"
                      color="success"
                      type="primary"
                      @click.prevent="newTeam"
                    >
                      {{ $t('Dashboard.Team.submitBottonLabel') }}
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </validation-observer>
        </material-card>
      </v-flex>
      <v-flex
        md7
      >
        <material-card
          :title="$t('Dashboard.Team.tableTitle')"
          :text="$t('Dashboard.Team.tableSubtitle')"
          color="primary"
        >
          <v-data-table
            v-if="teamListDataTable"
            id="teamTable"
            :headers="headers"
            :items="teamListDataTable"
            :expand="expand"
            :search="search"
            :pagination.sync="teamPagination"
            :loading="loading"
          >
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="$t(`Dashboard.Team.${header.text}`)"
              />
            </template>
            <template
              slot="items"
              slot-scope="{ item }"
            >
              <td class="text-xs-center">{{ item.name }}</td>
              <td class="text-xs-center">{{ item.level }}</td>
              <td class="justify-center text-xs-center">
                <v-icon
                  v-if="item.level == 'creator'"
                  small
                  @click="teamDetails(item.id)"
                >
                  mdi-account-multiple-plus
                </v-icon>
                <v-icon
                  v-else
                  disabled
                  small
                  @click="teamDetails(item.id)"
                >
                  mdi-account-multiple-plus
                </v-icon>
                <v-icon
                  v-if="item.level == 'creator'"
                  class="mr-2"
                  small
                  @click="delTeam(item.id)"
                >
                  mdi-delete
                </v-icon>
                <v-icon
                  v-else
                  class="mr-2"
                  small
                  disabled
                  @click="delTeam(item.id)"
                >
                  mdi-delete
                </v-icon>
              </td>
            </template>
          </v-data-table>
        </material-card>
      </v-flex>
      <v-snackbar
        v-model="notification"
        :color="color"
        left
        bottom>
        {{ text }}
        <v-btn
          :color="color"
          flat
          @click="notification = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-snackbar>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
export default {
  name: 'Team',
  data: () => ({
    model: {
      name: null
    },
    loading: true,
    expand: false,
    search: '',
    tabs: 0,
    notification: false,
    color: '',
    text: '',
    list: {
      0: false,
      1: false,
      2: false
    },
    headers: [
      {
        sortable: true,
        text: 'name',
        value: 'name',
        align: 'center'
      },
      {
        sortable: false,
        text: 'level',
        value: 'level',
        align: 'center'
      },
      {
        sortable: false,
        text: 'action',
        align: 'center'
      }
    ]
  }),
  computed: {
    ...mapState('team', ['teamListDataTable', 'teamPagination']),
    teamListDataTable () {
      return this.$store.state.team.teamListDataTable
    },
    teamPagination: {
      get: function () {
        return this.$store.state.team.teamPagination
      },
      set: function (value) {
        this.setTeamPagination(value)
      }
    }
  },
  watch: {
    teamPagination: {
      handler () {
        this.loading = true
        this.teamPaginationHandler().then(() => {
          this.loading = false
        })
      },
      deep: true
    }
  },
  beforeMount () {
    this.getTeamList()
  },
  methods: {
    ...mapActions('team', ['addTeam', 'getTeamList', 'teamPaginationHandler', 'deleteTeam']),
    ...mapMutations('team', ['setTeamPagination']),
    newTeam () {
      this.addTeam(this.model)
        .then(() => {
          // this.$swal({
          //   title: this.$t('Dashboard.Team.teamSubmitedSuccessfully'),
          //   icon: 'success',
          //   buttons: this.$t('Dashboard.Team.ok')
          // })
          this.color = 'success'
          this.text = this.$t('Dashboard.Tag.tagSubmitedSuccessfully')
          this.notification = true
          this.model.name = null
          this.$refs.obsTeam.reset()
          this.loading = true
          this.getTeamList().then(() => {
            this.loading = false
          })
        })
        .catch((e) => {
          if (e.response.status === 400) {
            // this.$swal({
            //   title: this.$t('Dashboard.Team.teamExists'),
            //   icon: 'error',
            //   buttons: this.$t('Dashboard.Team.ok')
            // })
            this.color = 'error'
            this.text = this.$t('Dashboard.Team.teamExists')
            this.notification = true
          } else {
            // this.$swal({
            //   title: this.$t('Dashboard.Team.teamSubmitedFailed'),
            //   icon: 'error',
            //   buttons: this.$t('Dashboard.Team.ok')
            // })
            this.color = 'error'
            this.text = this.$t('Dashboard.Team.teamSubmitedFailed')
            this.notification = true
          }
        })
    },
    teamDetails (teamId) {
      this.$router.push({ path: `/team/member-management/${teamId}` })
    },
    delTeam (teamId) {
      this.$swal({
        title: this.$t('Dashboard.Team.AreYouSureToDelete'),
        text: this.$t('Dashboard.Team.IfYouDelete'),
        icon: 'warning',
        buttons: [this.$t('Dashboard.Team.cancel'), this.$t('Dashboard.Team.ok')],
        dangerMode: true
      })
        .then((willDelete) => {
          if (willDelete) {
            this.deleteTeam(teamId).then(() => {
              // this.$swal({
              //   title: this.$t('Dashboard.Team.teamDeleteSuccessfully'),
              //   icon: 'success',
              //   buttons: this.$t('Dashboard.Team.ok')
              // })
              this.color = 'success'
              this.text = this.$t('Dashboard.Team.teamDeleteSuccessfully')
              this.notification = true
              this.getTeamList().then(() => {
                this.loading = false
              })
            })
          } else {
            // this.$swal({
            //   title: this.$t('Dashboard.Team.teamNotDeleted'),
            //   icon: 'info',
            //   buttons: this.$t('Dashboard.Team.ok')
            // })
            this.color = 'error'
            this.text = this.$t('Dashboard.Team.teamNotDeleted')
            this.notification = true
          }
        })
    }
  }
}
</script>

<style scoped>
#teamTable >>> .v-btn__content {
  color: #000 !important;
}
</style>
