<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        xs9
      >
        <material-card
          :title="name ? $t('Dashboard.Team.MemberManagement.title') + ' ' + name : $t('Dashboard.Team.MemberManagement.title')"
          color="accent"
        >
          <v-container
            pa-0
          >
            <v-layout
              wrap
              justify-center
            >
              <v-flex
                md12
              >
                <material-card
                  :title="$t('Dashboard.Team.MemberManagement.levelOneTableTitle')"
                  :text="$t('Dashboard.Team.MemberManagement.levelOneTableSubtitle')"
                  color="primary"
                >
                  <v-combobox
                    v-model="model.level1"
                    :items="users"
                    :label="$t('Dashboard.Team.MemberManagement.levelOneTableTitle')"
                    chips
                    clearable
                    prepend-icon="mdi-account-multiple"
                    solo
                    multiple
                  >
                    <template v-slot:selection="data">
                      <v-chip
                        :selected="data.selected"
                        close
                        @input="removeLevel1(data.item)"
                      >
                        <strong>{{ data.item }}</strong>
                      </v-chip>
                    </template>
                  </v-combobox>
                </material-card>
              </v-flex>
              <v-flex
                md12
              >
                <material-card
                  :title="$t('Dashboard.Team.MemberManagement.levelTwoTableTitle')"
                  :text="$t('Dashboard.Team.MemberManagement.levelTwoTableSubtitle')"
                  color="primary"
                >
                  <v-combobox
                    v-model="model.level2"
                    :items="users"
                    :label="$t('Dashboard.Team.MemberManagement.levelTwoTableTitle')"
                    chips
                    clearable
                    prepend-icon="mdi-account-multiple"
                    solo
                    multiple
                  >
                    <template v-slot:selection="data">
                      <v-chip
                        :selected="data.selected"
                        close
                        @input="removeLevel2(data.item)"
                      >
                        <strong>{{ data.item }}</strong>
                      </v-chip>
                    </template>
                  </v-combobox>
                </material-card>
              </v-flex>
            </v-layout>
          </v-container>
          <v-btn
            class="mx-0 font-weight-light"
            color="success"
            type="primary"
            @click.prevent="submitMemberList"
          >
            {{ $t('Dashboard.Team.MemberManagement.submitButtonLabel') }}
          </v-btn>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
export default {
  name: 'MemeberManagement',
  data () {
    return {
      teamId: null,
      name: '',
      users: [],
      model: {
        id: null,
        level1: [],
        level2: []
      }
    }
  },
  computed: {
    ...mapState('team', ['teamDetails', 'userList', 'levelOneMemberList', 'levelTwoMemberList']),
    ...mapMutations('team', ['setLevelOneMemberList', 'setLevelTwoMemberList']),
    teamDetails () {
      return this.$store.state.team.teamDetails
    },
    userList () {
      return this.$store.state.team.userList
    }
  },
  beforeMount () {
    this.model.id = this.$route.params.teamId
    this.getTeamDetails(this.$route.params.teamId).then(() => {
      this.name = this.teamDetails.name
      this.model.level1 = JSON.parse(JSON.stringify(this.$store.state.team.levelOneMemberList))
      this.model.level2 = JSON.parse(JSON.stringify(this.$store.state.team.levelTwoMemberList))
      this.getUserList().then(() => {
        this.users = JSON.parse(JSON.stringify(this.userList))
      })
    })
  },
  methods: {
    ...mapActions('team', ['getTeamDetails', 'getUserList', 'submitTeamMember']),
    removeLevel1 (item) {
      this.model.level1.splice(this.model.level1.indexOf(item), 1)
      this.model.level1 = [...this.model.level1]
      this.users.push(item)
    },
    removeLevel2 (item) {
      this.model.level2.splice(this.model.level2.indexOf(item), 1)
      this.model.level2 = [...this.model.level2]
      this.users.push(item)
    },
    removeUsers (item) {
      this.users.splice(this.users.indexOf(item), 1)
      this.users = [...this.users]
    },
    submitMemberList () {
      this.submitTeamMember(this.model).then(() => {
        this.$swal({
          title: this.$t('Dashboard.Team.MemberManagement.teamMemberUpdatedSuccessfully'),
          icon: 'success',
          buttons: this.$t('Dashboard.Team.MemberManagement.ok')
        })
      })
        .catch(() => {
          this.$swal({
            title: this.$t('Dashboard.Team.MemberManagement.teamMemberUpdatedFailed'),
            icon: 'error',
            buttons: this.$t('Dashboard.Team.MemberManagement.ok')
          })
        })
    }
  }
}
</script>
