<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout wrap>
      <v-flex>
        <material-card
          color="purple"
        >
          <v-flex
            slot="header"
            lg8
          >
            <v-btn
              to="/home"

              flat="">
              خانه
            </v-btn>
            <v-btn
              to="/about-us"

              flat="">
              درباره ما
            </v-btn>
            <v-btn
              to="/contactus"

              flat="">
              ارتباط با ما
            </v-btn>
          </v-flex>
          <v-container>
            <v-layout
              justify-center="">

              <v-flex
                lg3>
                <v-overflow-btn
                  :items="Type"
                  placeholder="موضوع"
                  outline/>
              </v-flex>
              <v-flex
                lg3>
                <v-text-field
                  label="نام"
                  outline/>
              </v-flex>
              <v-flex
                lg6>
                <v-text-field
                  label="آدرس ایمیل"
                  outline/>
              </v-flex>

            </v-layout>
            <v-flex>
              <v-textarea
                label="پیام"
                auto-grow
                outline/>
            </v-flex>
            <v-flex>
              <v-btn
                color="green">
                ارسال
              </v-btn>
            </v-flex>
          </v-container>

        </material-card>
      </v-flex>

      <v-flex
        lg11>
        <v-card/>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      Type: [
        { text: 'Active' },
        { text: 'Archived' },
        { text: 'All' }
      ]

    }
  }
}
</script>
