<template>
  <v-container
    fill-height
    fluid
    grid-list-xl>
    <v-layout
      justify-center
      wrap>
      <v-flex
        v-if="sent"
        xs12
        md6>
        <material-card
          style="text-align: center;">
          <v-flex>
            یک ایمیل حاوی لینک ریست پسورد برای شما به آدرس
            <span>{{ email }}</span>
            ارسال گردبد!<br> در غیر این صورت بر روی دکمه زیر کلیک کنید.
            <count-down
              v-if="clientCantResend"
              :init-time="10"
              @finished="timerFinish"/>
          </v-flex>
          <v-flex>
            <v-btn
              :disabled="clientCantResend"
              color="green"
              @click="resetReq">ارسال مجدد</v-btn>
          </v-flex>
          <v-flex>
            <v-btn
              class="blue-text"
              flat
              style="font-color=black"
              color="error"
              @click="sent=false">
              تغییر آدرس ایمیل
            </v-btn>
          </v-flex>
        </material-card>
      </v-flex>
      <v-flex
        v-else
        md6>
        <material-card
          color="green"
          title="آدرس ایمیل"
          text="ایمیل خورد را وارد کنید">
          <v-layout
            justify-center>
            <v-flex
              style="direction:ltr; text-align:left"
              xs12
              md8>
              <v-text-field
                v-model="email"
                :rules="emailRules"
                placeholder="Example@domain.com"/>
            </v-flex>
          </v-layout>
          <v-flex
            style="text-align: center;">
            <v-btn
              :disabled="!emailValid"
              color="green"
              @click="resetReq">ارسال</v-btn>
          </v-flex>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
import CountDown from '../../components/CountDown'
export default {
  components: {
    CountDown
  },
  data () {
    return {
      sent: false,
      email: '',
      clientCantResend: true,
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.*(?=@)@.*(?=\.)\.[^.]{2,}/.test(v) || 'E-mail must be valid'
      ]
    }
  },
  computed: {
    emailValid () {
      var res = this.emailRules.every(rule => {
        var a = rule(this.email)
        if (typeof (a) === 'string') {
          return false
        }
        return a
      })
      return res
    }
  },
  // watch: {
  //   email: function (mail) { // e_Mail is the exact name used in v-model
  //     if (mail !== '') {
  //       this.emailRules = [ v => (v.match(/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)) || 'Invalid Email address']
  //     } else if (mail === '') {
  //       this.emailRules = []
  //     }
  //   }
  // },
  methods: {
    ...mapActions('user', ['resetRequest']),
    resetReq () {
      this.resetRequest(this.email)
        .then(() => {
          this.$swal({
            title: this.$t(
              'Succesfully'
            ),
            icon: 'success',
            buttons: this.$t('ok')
          })
          // this.email = null
          this.sent = true
          this.clientCantResend = true
        })
        .catch(() => {
          this.$swal({
            title: this.$t(
              'Failed'
            ),
            icon: 'error',
            buttons: this.$t('ok')
          })
        })
    },
    timerFinish () {
      this.clientCantResend = false
    }
  }
}
</script>

<style>
  .application--is-rtl .v-messages {
    text-align: left !important;
  }
</style>
