<template>
  <v-container
    id="container"
    fluid="true"
    class="count"
  >
    <v-layout
      id="toppage"
      lg12>
      <v-flex lg12>
        <!--  <v-toolbar
      dense=""
      id="menue"
      flat=""
      color="#b3d4fc00">
        <v-toolbar-items id="items">
          <v-subheader  class="menue-btn"><a href=#>خانه</a></v-subheader>
          <v-subheader class="menue-btn"><a href=#> درباره ما</a></v-subheader>
          <v-subheader class="menue-btn"><a href=#>ارتباط با ما</a></v-subheader>
        </v-toolbar-items>
        <div style="width:80%;"></div>
        <v-toolbar-items>
          <v-btn  large="" round="" id="login-bt" >
          ورود
        </v-btn>
        </v-toolbar-items>
      </v-toolbar> -->
        <v-flex class="zamaneto">
          <v-subheader id="name">زمان تو </v-subheader>
        </v-flex>
        <v-flex id="disc">
          <v-subheader class="discr">اولین برنامه ثبت زمان ایرانی!</v-subheader>
          <v-subheader class="discr">براحتی بفهمید روی چی، چقدر و چه زمانی وقت کذاشته اید!</v-subheader>
        </v-flex>
        <v-flex class="start-btn">
          <v-btn
            id="start-bt"
            to="/register">شروع کن، رایگانه!</v-btn>
        </v-flex>
      </v-flex>
    </v-layout>

    <v-layout
      id="midpage"
      lg12>
      <v-flex lg12>
        <v-subheader id="Timdisc"><div class="features">
          <p>
            ویژگی های مدیریت زمان: این نرم افزار مخصوص رصد کردن زمان های کاری افراد در یک تیم و همچنین میزان تولید مشارکت و ساعات قابل پرداخت دستمزد است.<br>
            <br>
            تایم کیپینگ یا نگهداری زمان
          </p>
          <ul>
            <li>
              با یک تایمر زمان را ردگیری کنید
            </li>
            <li>
              این زمان بندی را در یک جدول زمانی وارد کنید
            </li>
            <li>
              بر اساس پروژه زمان ها را دسته بندی کنید
            </li>
            <li>
              زمان های قابل پرداخت یا غیر قابل پرداخت دستمزد را مشخص کنید
            </li>
          </ul>
          <br>
          <p>
            گزارش
          </p>
          <ul>
            <li>
              نمودارهای زمان بندی گرافیکی
            </li>
            <li>
              گزارش های قابل شخصی سازی
            </li>
            <li>
              قابلیت به اشتراک گذاری گزارشات
            </li>
            <li>
              به هر فرمتی که خواستید از این گزارشات خروجی بگیرید
            </li>
          </ul>
          <p>
            فعالیت های تیمی
          </p>

          <ul>
            <li>
              تمام تیم را به این نرم افزار دعوت کنید
            </li>
            <li>
              نرخ ساعتی تعیین کنید
            </li>
            <li>
              درجریان فعالیت های در حال انجام قرار بگیرید
            </li>
            <li>
              از این که چه کسی روی چه چیزی کار کرده است مطلع شوید
            </li>
          </ul>
        </div>
        </v-subheader>
      </v-flex>
    </v-layout>

    <v-layout lg12>
      <v-flex
        lg12>
        <div
          id="endpage"/>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: () => ({

  })
}
</script>

<style>
@font-face{
    font-family: BYekan;
    src: url('../../components/Font/BYekan/1.eot'),
         url('../../components/Font/BYekan/2.ttf'),
         url('../../components/Font/BYekan/3.woff');
  }
body{
  font-family: BYekan !important;
}
  #container{
    padding: 0px;
  }
  .zamaneto{
    padding-top: 90px;
    padding-right: 120px;
  }
  #name{
    font-family: BYekan;
    font-size: 80px;
    color: black;
  }
  #disc{
    font-family: BYekan !important;
    padding-top: 30px;
    padding-right: 170px;
  }
  .discr{
    color: black !important;
    font-size: 20px;
  }
  .start-btn{
    padding-top: 30px;
    padding-right: 170px;
  }
  #start-bt{
    font-family: BYekan !important;
    height: 70px;
    width: 400px;
    font-size: 25px;
    border-radius: 15px;
    color: #FFFFFF;
    background-color: #16B326;
  }
  .menue-btn a{
    font-family: BYekan !important;
    background-color: #b3d4fc00 !important;
    color: black !important;
    box-shadow: none !important;
    text-decoration: none;

  }
  #menue{
    padding-top: 23px;

  }
  #items{
    padding-right: 40px;

  }
  #login-bt{
    font-family: BYekan !important;
    background-color: #ED6A5A;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 100px;
  }
  .countainer{
    width: 100% !important;
  }
  #toppage{
    background-color: #E7E9EB;
    background-image: url('../../components/img/top8.png');
    height: 692px;
    width: 100%;
    margin: 0px !important;
    background-position: center;
    background-size: contain;
  }
  #midpage{
    background-color: #fff5fa;
    background-image: url('../../components/img/mid2.png');
    height: 694px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right;
  }
  #Timdisc{
    font-family: BYekan !important;
    padding-top: 195px;
    padding-left: 775px;
    font-family: sans-serif;
  }
  .features{
      padding-top: 160px;
      padding-right: 25px;
  }
  #endpage{
    background-position: center;
    background-image: url('../../components/img/end4.png');
    height: 694px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }

</style>
