<template>
  <v-container
    fill-height
    fluid
    grid-list-lg
  >
    <v-layout
      align-center
      justify-center
      wrap
    >
      <v-flex
        xs12
        sm8
        md6
      >
        <validation-observer ref="obs">
          <material-card
            slot-scope="{ invalid, validated }"
            :title="$t('Default.Login.title')"
            color="green"
          >
            <v-form>
              <v-container py-0>
                <v-layout wrap>
                  <v-flex
                    xs12
                  >
                    <validation-provider
                      rules="required"
                      name="username"
                    >
                      <v-text-field
                        slot-scope="{
                          errors,
                          valid
                        }"
                        :error-messages="errors"
                        :success="valid"
                        :label="$t('Default.Login.username')"
                        v-model="auth.username"
                        prepend-icon="mdi-account"
                        dir="auto"
                        name="username"
                        required
                      />
                    </validation-provider>
                  </v-flex>
                  <v-flex
                    xs12
                  >
                    <validation-provider
                      rules="required"
                      name="password"
                    >
                      <v-text-field
                        slot-scope="{
                          errors,
                          valid
                        }"
                        :error-messages="errors"
                        :success="valid"
                        :label="$t('Default.Login.password')"
                        :prepend-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="show ? 'text' : 'password'"
                        v-model="auth.password"
                        dir="auto"
                        name="password"
                        @click:prepend="show = !show"
                      />
                    </validation-provider>
                  </v-flex>
                  <v-flex
                    xs12
                  >
                    <v-checkbox
                      v-model="rememberme"
                      :label="$t('Default.Login.rememberMe')"
                    />
                    <router-link to="/forgotpassword">فراموش کردم</router-link>
                  </v-flex>
                  <v-flex
                    xs12
                    text-xs-center
                  >
                    <v-btn
                      :disabled="invalid"
                      class="mx-0 font-weight-light"
                      color="success"
                      type="primary"
                      @click.prevent="userLogin"
                    >
                      {{ $t('Default.Login.loginButtonLabel') }}
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </material-card>
        </validation-observer>
        <v-snackbar
          v-model="snackbarShow"
          :color="snackbarColor"
          :top="true"
          :right="true"
          dark
        >
          <v-icon
            color="white"
            class="mr-3"
          >
            {{ snackbarIcon }}
          </v-icon>
          <div>
            {{ snackbarMessage }}
          </div>
          <v-icon
            size="16"
            @click="snackbarShow = false"
          >
            mdi-close-circle
          </v-icon>
        </v-snackbar>
      </v-flex>
      <v-flex
        xs12
        sm10
        md4
      >
        <material-card
          :title="$t('Default.Login.descriptionTitle')"
          :text="$t('Default.Login.descriptionText')"
          color="purple"
        >
          <table class="v-table">
            <thead>
              <tr>
                <th/>
                <th class="subheading font-weight-light">نسخه شخصی</th>
                <th class="subheading font-weight-light">نسخه تیمی</th>
              </tr>
            </thead>
            <tbody class="text-xs-center">
              <tr>
                <th class="text-xs-right font-weight-light subheading">ثبت ساعت کاری</th>
                <td>
                  <v-icon color="success">mdi-check</v-icon>
                </td>
                <td>
                  <v-icon color="success">mdi-check</v-icon>
                </td>
              </tr>
              <tr>
                <th class="text-xs-right font-weight-light subheading">ایجاد تیم</th>
                <td>
                  <v-icon color="error">mdi-close</v-icon>
                </td>
                <td>
                  <v-icon color="success">mdi-check</v-icon>
                </td>
              </tr>
              <tr>
                <th class="text-xs-right font-weight-light subheading">ثبت ساعت ورود</th>
                <td>
                  <v-icon color="error">mdi-close</v-icon>
                </td>
                <td>
                  <v-icon color="success">mdi-check</v-icon>
                </td>
              </tr>
              <tr>
                <th class="text-xs-right font-weight-light subheading">پشتیبانی خاص منظوره</th>
                <td>
                  <v-icon color="error">mdi-close</v-icon>
                </td>
                <td>
                  <v-icon color="success">mdi-check</v-icon>
                </td>
              </tr>
              <tr>
                <th/>
                <td>رایگان</td>
                <td>با ما تماس بگیرید</td>
              </tr>
              <tr>
                <th/>
                <td>
                  <v-btn
                    class="subheading white--text font-weight-light"
                    round
                    large
                    color="purple"
                    to="/register"
                  >ایجاد حساب</v-btn>
                </td>
                <td>
                  <v-btn
                    class="subheading white--text font-weight-light"
                    round
                    large
                    color="success"
                    to="/contact-us"
                  >تماس با ما</v-btn>
                </td>
              </tr>
            </tbody>
          </table>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import {
  mapActions
} from 'vuex'
export default {
  data: () => ({
    show: false,
    snackbarShow: false,
    snackbarIcon: 'mdi-error',
    snackbarColor: 'error',
    snackbarMessage: null,
    rememberme: true,
    auth: {
      username: null,
      password: null
    }
  }),
  methods: {
    ...mapActions('user', ['login']),
    userLogin () {
      this.login(this.auth)
        .then(() => {
          window.localStorage.setItem('token', this.$store.state.user.token)
          this.snackbarColor = 'success'
          this.snackbarIcon = 'mdi-check'
          this.snackbarMessage = this.$t('Default.Login.loggedInSuccessfully')
          this.snackbarShow = true
          setTimeout(() => {
            this.$router.push({ path: '/time-tracker' })
          }, 2000)
        })
        .catch(() => {
          this.snackbarColor = 'error'
          this.snackbarIcon = 'mdi-alert-circle'
          this.snackbarMessage = this.$t('Default.Login.loggedInFailed')
          this.snackbarShow = true
        })
    }
  }
}
</script>
