<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      align-center
      justify-center
      wrap
    >
      <v-flex
        xs12
        md6
      >
        <validation-observer ref="obsRegister">
          <material-card
            slot-scope="{ invalid, validated }"
            :title="$t('Default.Register.title')"
            color="green"
          >
            <v-form>
              <v-container py-0>
                <v-layout wrap>
                  <v-flex
                    xs6
                  >
                    <validation-provider
                      rules="required"
                      name="firstName"
                    >
                      <v-text-field
                        slot-scope="{
                          errors,
                          valid
                        }"
                        :error-messages="errors"
                        :success="valid"
                        :label="$t('Default.Register.firstName')"
                        v-model="auth.first_name"
                        dir="auto"
                        name="firstName"
                        required
                      />
                    </validation-provider>
                  </v-flex>
                  <v-flex
                    xs6
                  >
                    <validation-provider
                      rules="required"
                      name="lastName"
                    >
                      <v-text-field
                        slot-scope="{
                          errors,
                          valid
                        }"
                        :error-messages="errors"
                        :success="valid"
                        :label="$t('Default.Register.lastName')"
                        v-model="auth.last_name"
                        dir="auto"
                        name="lastName"
                        required
                      />
                    </validation-provider>
                  </v-flex>
                  <v-flex
                    xs12
                  >
                    <validation-provider
                      rules="required"
                      name="username"
                    >
                      <v-text-field
                        slot-scope="{
                          errors,
                          valid
                        }"
                        :error-messages="errors"
                        :success="valid"
                        :label="$t('Default.Register.username')"
                        v-model="auth.username"
                        dir="auto"
                        name="username"
                        required
                      />
                    </validation-provider>
                  </v-flex>
                  <v-flex
                    xs12
                  >
                    <validation-provider
                      rules="required|email"
                      name="email"
                    >
                      <v-text-field
                        slot-scope="{
                          errors,
                          valid
                        }"
                        :error-messages="errors"
                        :success="valid"
                        :label="$t('Default.Register.email')"
                        v-model="auth.email"
                        dir="auto"
                        name="email"
                        required
                      />
                    </validation-provider>
                  </v-flex>
                  <v-flex
                    md6
                    xs12
                  >
                    <validation-provider
                      vid="password"
                      rules="required|min:8|verify_password"
                      name="password"
                    >
                      <v-text-field
                        slot-scope="{
                          errors,
                          valid
                        }"
                        :error-messages="errors"
                        :success="valid"
                        :type="show ? 'text' : 'password'"
                        :label="$t('Default.Register.password')"
                        v-model="auth.password1"
                        dir="auto"
                        name="password"
                      />
                    </validation-provider>
                  </v-flex>
                  <v-flex
                    md6
                    xs12
                  >
                    <validation-provider
                      rules="required|confirmed:password"
                      name="passwordConfirm"
                    >
                      <v-text-field
                        slot-scope="{
                          errors,
                          valid
                        }"
                        :error-messages="errors"
                        :success="valid"
                        :type="show ? 'text' : 'password'"
                        :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                        :label="$t('Default.Register.passwordConfirm')"
                        v-model="auth.password2"
                        dir="auto"
                        data-vv-as="password"
                        name="passwordConfirm"
                        @click:append="show = !show"
                      />
                    </validation-provider>
                  </v-flex>
                  <v-flex
                    xs12
                    text-xs-center
                  >
                    <v-btn
                      :disabled="invalid || !validated"
                      class="font-weight-light"
                      color="success"
                      @click="userRegister()"
                    >
                      {{ $t('Default.Register.registerBtnLabel') }}
                    </v-btn>
                    <v-btn
                      class="v-btn--simple"
                      color="primary"
                      to="/login"
                    >
                      {{ $t('Default.Register.loginBtnLabel') }}
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </material-card>
        </validation-observer>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import {
  mapActions
} from 'vuex'
export default {
  data: () => ({
    logo: './img/fossillogo.png',
    color: 'error',
    show: false,
    snackbar: false,
    message: null,
    confirm: null,
    auth: {
      first_name: null,
      last_name: null,
      username: null,
      email: null,
      password1: null,
      password2: null
    }
  }),
  methods: {
    ...mapActions('user', ['register']),
    userRegister () {
      this.register(this.auth)
        .then(() => {
          this.$swal({
            title: this.$t('Default.Register.emailSentSuccessfully'),
            icon: 'success',
            buttons: this.$t('Default.Register.redirectToLogin')
          })
            .then((value) => {
              this.$router.push({ path: '/verify' })
            })
        })
        .catch(() => {
          this.$swal({
            title: this.$t('Default.Register.registerFailed'),
            icon: 'success',
            buttons: this.$t('Default.Register.ok')
          })
        })
    }
  }
}
</script>
