<template>
  <v-container
    fill-height
    fluid
    grid-list-xl>
    <v-layout
      justify-center
      wrap>
      <v-flex
        v-if="tokenValid"
        md8>
        <material-card
          color="green"
          title="Reset Password"
          text="Reset your passsword">
          <v-container>
            <v-layout
              justify-center
              wrap>
              <v-flex
                xs12
                md6>
                <v-text-field placeholder="New Password" />
              </v-flex>
              <v-flex
                xs12
                md6>
                <v-text-field placeholder="Confirm Your Password" />
              </v-flex>
              <v-layout justify-center>
                <v-flex>
                  <v-btn
                    color="green"
                    @click="submit">reset</v-btn>
                </v-flex>
              </v-layout>
            </v-layout>
          </v-container>
        </material-card>
      </v-flex>
      <v-flex
        v-if="!tokenValid && !checking"
        md8>
        این لینک منقضی شده است
      </v-flex>
      <v-flex
        v-if="ManualForm"
        xs12
        md8>
        <material-card
          color="green"
          title="Reset Password"
          text="Reset your passsword">
          <v-container>
            <v-layout wrap>
              <v-flex
                xs12
                md6>
                <v-text-field placeholder="New Password" />
              </v-flex>
              <v-flex
                xs12
                md6>
                <v-text-field placeholder="New Password" />
              </v-flex>
              <v-flex
                xs12
                md6>
                <v-text-field placeholder="User ID" />
              </v-flex>
              <v-flex
                xs12
                md6>
                <v-text-field placeholder="Token" />
              </v-flex>
              <v-flex>
                <v-btn
                  color="green"
                  @click="submit">reset</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  data: function () {
    return {
      tokenValid: false,
      ManualForm: false,
      checking: true,
      resetModel: {
        new_password1: '',
        new_password2: '',
        uid: '',
        token: ''
      }

    }
  },
  mounted () {
    const uid = this.$route.query.uid
    this.resetModel.uid = uid
    const token = this.$route.query.token
    this.resetModel.token = token
    if (token === undefined || uid === undefined) {
      this.ManualForm = true
    } else {
      var tokens = {
        uid,
        token
      }
      this.checking = true
      this.expireCheck(tokens).then((r) => {
        if (r.status === 200) {
          this.tokenValid = true
        }
      }).catch((r) => {
        if (r.status === 404) {
          this.tokenValid = false
        }
      }).finally(() => {
        this.checking = false
      })
    }
  },
  methods: {
    ...mapActions('user', ['expireCheck', 'resetPassword']),
    submit () {
      this.resetPassword(this.resetModel)
    }
  }
}
</script>
