<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-card
          v-if="!hasKey">
          <v-card-title>
            فعالسازی
          </v-card-title>
          <v-card-text>
            یک ایمیل حاوی لینک فعالسازی برای شما ارسال گردیده است. بر روی آن کلیک کنید تا فعالسازی انجام شود.
          </v-card-text>
        </v-card>
        <v-card
          v-if="verified">
          <v-card-title>
            فعالسازی با موفقیت انجام شد
          </v-card-title>
          <count-down
            :init-time="5"
            @finished="$router.push('/login')"/>
          <v-card-action>
            <v-btn
              text
              color="green"
              to="/login">
              ورود
            </v-btn>
          </v-card-action>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
import CountDown from '../../components/CountDown'
export default {
  components: {
    CountDown
  },
  data: function () {
    return {
      verified: false,
      hasKey: false
    }
  },
  mounted () {
    var key = this.$route.query.key
    if (key !== undefined) {
      this.hasKey = true
      this.verify(key).then((r) => {
        if (r.status === 201) {
          this.verified = true
        }
      })
    }
  },
  methods: {
    ...mapActions('user', ['verify'])
  }
}
</script>
