<template>
  <v-footer
    id="core-dashboard-footer"
    absolute
    height="82"
  >
    <!-- <span class="font-weight-light copyright">
      &copy;
      {{ (new Date()).getFullYear() }}
      <a
        href="https://www.zamaneto.ir"
        target="_blank">Zamaneto</a>, made with
      <v-icon
        color="tertiary"
        size="17">mdi-heart</v-icon>
      for a better web
    </span> -->
    <span class="font-weight-light">
      تمام حقوق مادی و معنوی این سایت و نرم افزار
      <a
        href="https://www.zamaneto.ir"
        target="_blank">
        زمانتو
      </a>
      متعلق به
      <a
        href="https://www.atifer.com"
        target="_blank">
        آتیفر
      </a>
      می باشد.
    </span>
    <v-spacer/>
    <div class="footer-items">
      <span
        v-for="link in links"
        :key="link.name"
      >
        <a
          :href="link.Link"
          class="tertiary--text footer-links">{{ link.name }}</a>
      </span>
    </div>
  </v-footer>
</template>

<script>
export default {
  data: () => ({
    links: [
      { name: 'زمانسنج', Link: '/time-tracker' },
      { name: 'زمانتو', Link: 'https://zamaneto.ir' },
      { name: 'درباره ما', Link: 'https://zamaneto.ir' },
      { name: 'بلاگ', Link: 'https://blog.zamaneto.ir' }
    ]
  })
}
</script>

<style>
#core-dashboard-footer {
  z-index: 0;
}
</style>
