<template>
  <v-toolbar
    id="core-toolbar"
    app
    flat
    prominent
    style="background: #eee;"
  >
    <div class="v-toolbar-title">
      <v-toolbar-title
        class="tertiary--text font-weight-light"
      >
        <v-btn
          v-if="responsive"
          class="default v-btn--simple"
          dark
          icon
          @click.stop="onClickBtn"
        >
          <v-icon>mdi-view-list</v-icon>
        </v-btn>
      </v-toolbar-title>
    </div>

    <v-spacer />
    <v-toolbar-items>
      <v-flex
        align-center
        layout
        py-2
      >
        <v-text-field
          v-if="responsiveInput"
          :label="$t('Core.Toolbar.search')"
          class="mr-4 mt-2"
          hide-details
          color="primary"
        />
        <router-link
          v-ripple
          class="toolbar-items"
          to="/"
        >
          <v-icon color="tertiary">mdi-home</v-icon>
        </router-link>
        <v-menu
          :left="!$vuetify.rtl"
          :right="$vuetify.rtl"
          bottom
          content-class="dropdown-menu"
          offset-y
          transition="slide-y-transition">
          <v-btn
            slot="activator"
            icon
            class="toolbar-items"
          >
            <v-icon color="tertiary">mdi-account</v-icon>
          </v-btn>
          <v-card>
            <v-list dense>
              <v-list-tile
                v-for="userMenu in userMenus"
                :key="userMenu.id"
                :to="userMenu.to"
              >
                <v-list-tile-action>
                  <v-icon color="tertiary">{{ userMenu.icon }}</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  {{ $t(`Core.Toolbar.${userMenu.title}`) }}
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile
                @click="userLogout"
              >
                <v-list-tile-action>
                  <v-icon color="tertiary">mdi-logout-variant</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  {{ $t(`Core.Toolbar.userLogout`) }}
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card>
        </v-menu>
      </v-flex>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>

import {
  mapMutations,
  mapActions
} from 'vuex'

export default {
  data: () => ({
    userMenus: [
      {
        id: 1,
        title: 'userProfile',
        to: '/user-profile',
        icon: 'mdi-account'
      }
    ],
    responsive: false,
    responsiveInput: false
  }),

  mounted () {
    this.onResponsiveInverted()
    window.addEventListener('resize', this.onResponsiveInverted)
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResponsiveInverted)
  },

  methods: {
    ...mapMutations('app', ['setDrawer', 'toggleDrawer']),
    ...mapActions('user', ['logout']),
    onClickBtn () {
      this.setDrawer(!this.$store.state.app.drawer)
    },
    onClick () {
      //
    },
    onResponsiveInverted () {
      if (window.innerWidth < 991) {
        this.responsive = true
        this.responsiveInput = false
      } else {
        this.responsive = false
        this.responsiveInput = true
      }
    },
    userLogout () {
      this.$swal({
        title: this.$t('Core.Toolbar.logoutTitle'),
        text: this.$t('Core.Toolbar.logoutText'),
        icon: 'warning',
        dangerMode: true,
        buttons: [this.$t('Core.Toolbar.logoutCancelBtn'), this.$t('Core.Toolbar.logoutConfirmBtn')]
      })
        .then((willLogout) => {
          if (willLogout) {
            // this.$router.push({ path: '/login' })
            this.logout()
              .then((value) => {
                this.$router.push({ path: '/login' })
              })
              // .then(() => {
              //   this.$swal(this.$t('Core.Toolbar.logoutSuccessfully'), {
              //     icon: 'success',
              //     buttons: this.$t('Core.Toolbar.logoutRedirectToHome')
              //   })
              // })
              .catch(() => {
                this.$swal(this.$t('Core.Toolbar.logoutServerProblem'), {
                  buttons: [this.$t('Core.Toolbar.logoutRedirectToHome')]
                })
              })
          } else {
            this.$swal(this.$t('Core.Toolbar.logoutCancel'), {
              buttons: [this.$t('Core.Toolbar.logoutOk')]
            })
          }
        })
    }
  }
}
</script>

<style>
  #core-toolbar a {
    text-decoration: none;
  }
</style>
