<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        xs6
      >
        <material-card
          :title="$t('Dashboard.Project.title')"
          color="primary"
        >

          <validation-observer ref="obsProject">
            <v-form
              slot-scope="{ invalid, validated }"
              lazy-validation
            >
              <v-container
                py-0
              >
                <v-layout
                  wrap
                  justify-center
                >
                  <v-flex
                    md8
                    sm10
                    xs12
                  >
                    <validation-provider
                      rules="required"
                      name="name"
                    >
                      <v-text-field
                        slot-scope="{
                          errors,
                          valid
                        }"
                        :error-messages="errors"
                        :success="valid"
                        :label="$t('Dashboard.Project.name')"
                        v-model="model.name"
                        dir="auto"
                        autofocus
                        name="name"
                        required
                      />
                    </validation-provider>
                  </v-flex>
                  <v-flex
                    xs12
                    text-xs-center
                  >
                    <v-btn
                      :disabled="invalid || !validated"
                      class="mx-0 font-weight-light"
                      color="success"
                      type="primary"
                      @click.prevent="newProject"
                    >
                      {{ $t('Dashboard.Project.submitBottonLabel') }}
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </validation-observer>
        </material-card>
      </v-flex>
      <v-flex
        md7
      >
        <material-card
          :title="$t('Dashboard.Project.tableTitle')"
          :text="$t('Dashboard.Project.tableSubtitle')"
          color="primary"
        >
          <v-data-table
            v-if="projectListDataTable"
            id="projectTable"
            :headers="headers"
            :items="projectListDataTable"
            :expand="expand"
            :search="search"
            :pagination.sync="projectPagination"
            :loading="loading"
          >
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="$t(`Dashboard.Project.${header.text}`)"
              />
            </template>
            <template
              slot="items"
              slot-scope="{ item }"
            >
              <td class="text-xs-center">{{ item.name }}</td>
              <td class="justify-center text-xs-center">
                <!-- <v-icon
                  small
                  class="mr-2"
                  @click="editItem(props.item)"
                >
                  mdi-pencil
                </v-icon> -->
                <v-icon
                  small
                  @click="delProject(item.id)"
                >
                  mdi-delete
                </v-icon>
              </td>
            </template>
          </v-data-table>
        </material-card>
      </v-flex>
      <v-snackbar
        v-model="notification"
        :color="color"
        left
        bottom>
        {{ text }}
        <v-btn
          :color="color"
          flat
          @click="notification = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-snackbar>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
export default {
  name: 'Project',
  data: () => ({
    model: {
      name: null
    },
    loading: true,
    expand: false,
    search: '',
    tabs: 0,
    notification: false,
    color: '',
    text: '',
    list: {
      0: false,
      1: false,
      2: false
    },
    headers: [
      {
        sortable: true,
        text: 'name',
        value: 'name',
        align: 'center'
      },
      {
        sortable: false,
        text: 'action',
        align: 'center'
      }
    ]
  }),
  computed: {
    ...mapState('project', ['projectListDataTable', 'projectPagination']),
    projectListDataTable () {
      return this.$store.state.project.projectListDataTable
    },
    projectPagination: {
      get: function () {
        return this.$store.state.project.projectPagination
      },
      set: function (value) {
        this.setProjectPagination(value)
      }
    }
  },
  watch: {
    projectPagination: {
      handler () {
        this.loading = true
        this.projectPaginationHandler().then(() => {
          this.loading = false
        })
      },
      deep: true
    }
  },
  beforeMount () {
    this.getProjectList()
  },
  methods: {
    ...mapActions('project', ['addProject', 'getProjectList', 'projectPaginationHandler', 'deleteProject']),
    ...mapMutations('project', ['setProjectPagination']),
    newProject () {
      this.addProject(this.model)
        .then(() => {
          // this.$swal({
          //   title: this.$t('Dashboard.Project.projectSubmitedSuccessfully'),
          //   icon: 'success',
          //   buttons: this.$t('Dashboard.Project.ok')
          // })
          this.color = 'success'
          this.text = this.$t('Dashboard.Project.projectSubmitedSuccessfully')
          this.notification = true
          this.model.name = null
          this.$refs.obsProject.reset()
          this.loading = true
          this.getProjectList().then(() => {
            this.loading = false
          })
        })
        .catch((e) => {
          if (e.response.status === 400) {
            // this.$swal({
            //   title: this.$t('Dashboard.Project.projectExists'),
            //   icon: 'error',
            //   buttons: this.$t('Dashboard.Project.ok')
            // })
            this.color = 'error'
            this.text = this.$t('Dashboard.Project.projectExists')
            this.notification = true
          } else {
            // this.$swal({
            //   title: this.$t('Dashboard.Project.projectSubmitedFailed'),
            //   icon: 'error',
            //   buttons: this.$t('Dashboard.Project.ok')
            // })
            this.color = 'error'
            this.text = this.$t('Dashboard.Project.projectSubmitedFailed')
            this.notification = true
          }
        })
    },
    delProject (projectId) {
      this.$swal({
        title: this.$t('Dashboard.Project.AreYouSureToDelete'),
        text: this.$t('Dashboard.Project.IfYouDelete'),
        icon: 'warning',
        buttons: [this.$t('Dashboard.Project.cancel'), this.$t('Dashboard.Project.ok')],
        dangerMode: true
      })
        .then((willDelete) => {
          if (willDelete) {
            this.deleteProject(projectId).then(() => {
              // this.$swal({
              //   title: this.$t('Dashboard.Project.projectDeleteSuccessfully'),
              //   icon: 'success',
              //   buttons: this.$t('Dashboard.Project.ok')
              // })
              this.color = 'success'
              this.text = this.$t('Dashboard.Project.projectDeleteSuccessfully')
              this.notification = true
              this.getProjectList().then(() => {
                this.loading = false
              })
            })
          } else {
            // this.$swal({
            //   title: this.$t('Dashboard.Project.projectNotDeleted'),
            //   icon: 'info',
            //   buttons: this.$t('Dashboard.Project.ok')
            // })
            this.color = 'error'
            this.text = this.$t('Dashboard.Project.projectNotDeleted')
            this.notification = true
          }
        })
    }
  }
}
</script>

<style scoped>
#projectTable >>> .v-btn__content {
  color: #000 !important;
}
</style>
