<template>
  <v-container>
    <v-layout>
      <v-flex
        lg12>
        <v-card>
          <v-flex
            lg2
            md2
            sm2
            xs12
            class="mr-4">
            <v-menu
              ref="startDateMenu"
              v-model="startDateMenu"
              :close-on-content-click="false"
              :nudge-right="40"
              :return-value.sync="Range.start"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  :label="$t('Dashboard.TimeTracker.Worklog.startDate')"
                  :value="Range.start | FormatDate"
                  readonly
                  v-on="on"
                />
              </template>
              <v-date-picker
                :first-day-of-week="-1"
                v-model="Range.start"
                no-title
                dark
                scrollable
                locale="fa"
              >
                <v-spacer />
                <v-btn
                  flat
                  color="primary"
                  @click="startDateMenu = false"
                >{{ $t('Dashboard.TimeTracker.Worklog.cancel') }}</v-btn>
                <v-btn
                  flat
                  color="primary"
                  @click="$refs.startDateMenu.save(Range.start)"
                >{{ $t('Dashboard.TimeTracker.Worklog.ok') }}</v-btn>
              </v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex
            md2
            sm2
            xs12
            class="mr-4">
            <v-menu
              ref="endDateMenu"
              v-model="endDateMenu"
              :close-on-content-click="false"
              :nudge-right="40"
              :return-value.sync="Range.finish"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  :label="$t('Dashboard.TimeTracker.Worklog.endDate')"
                  :value="Range.finish | FormatDate"
                  readonly
                  v-on="on"
                />
              </template>
              <v-date-picker
                :first-day-of-week="-1"
                v-model="Range.finish"
                no-title
                scrollable
                dark
                locale="fa">
                <v-spacer />
                <v-btn
                  flat
                  color="primary"
                  @click="endDateMenu = false"
                >{{ $t('Dashboard.TimeTracker.Worklog.cancel') }}</v-btn>
                <v-btn
                  flat
                  color="primary"
                  @click="$refs.endDateMenu.save(Range.finish)"
                >{{ $t('Dashboard.TimeTracker.Worklog.ok') }}</v-btn>
              </v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex>
            <v-btn
              color="green"
              @click="rangeReport">گزارش</v-btn>
          </v-flex>
        </v-card>
        <v-flex>
          <material-card
            title="گزارش"
            color="primary">
            <v-data-table
              v-if="reportListDataTable"
              id="worklogTable"
              :headers="headers"
              :items="reportListDataTable"
              :expand="expand"
              :search="search"
              :pagination.sync="reportPagination"
              :loading="loading"
            >
              <template
                slot="headerCell"
                slot-scope="{ header }">
                <span
                  class="subheading font-weight-light text-success text--darken-3"
                  v-text="$t(`Dashboard.TimeTracker.Worklog.${header.text}`)"
                />
              </template>
              <template
                slot="items"
                slot-scope="{ item }">
                <td>{{ item.description }}</td>
                <td>{{ item.project }}</td>
                <td>{{ item.team }}</td>
                <td><span
                  v-for="tag in item.tags"
                  :key="tag" >{{ (tag + ', ' ) }}</span></td>
                <td>{{ item.duration | time }}</td>
                <td>{{ item.start | FormatDate }}</td>
              </template>
            </v-data-table>
          </material-card>
        </v-flex>
      </v-flex>
      <!-- <v-flex>
        <vuetable
          v-if="reportListDataTable"
          :columns="columns"
          :rows="reportListDataTable"
          :group-option="{
            enabled: true,
            headerPosition: 'bottom'
          }"
        />
      </v-flex> -->
      <v-snackbar
        v-model="notification"
        :color="color"
        left
        bottom>
        {{ text }}
        <v-btn
          :color="color"
          flat
          @click="notification = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-snackbar>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex'
import momentjalaali from 'moment-jalaali'
import { VueGoodTable } from 'vue-good-table'
export default {
  name: 'Report',
  filters: {
    time (value) {
      return value.split('.')[0]
    },
    date (value) {
      return value.split('T')[0]
    },
    FormatDate (date) {
      return momentjalaali(date).format('jYYYY/jM/jD')
    }
  },
  components: {
    vuetable: VueGoodTable
  },
  data: () => ({
    loading: true,
    expand: false,
    search: '',
    startDateMenu: false,
    endDateMenu: false,
    notification: false,
    color: '',
    text: '',
    Range: {
      start: new Date().toISOString().substr(0, 10),
      finish: new Date().toISOString().substr(0, 10)
    },
    rangeModel: {
      start: new Date().toISOString().substr(0, 10),
      finish: new Date().toISOString().substr(0, 10)
    },
    columns: [
      {
        lable: 'project',
        field: 'project'
      },
      {
        lable: 'duration',
        field: 'duration'
      }
    ],
    headers: [
      {
        sortable: false,
        text: 'Description',
        value: 'description',
        align: 'right'
      },
      {
        sortable: false,
        text: 'Project',
        value: 'project',
        align: 'right'
      },
      {
        sortable: false,
        text: 'Team',
        value: 'team',
        align: 'right'
      },
      {
        sortable: false,
        text: 'Tags',
        value: 'tags',
        align: 'right'
      },
      {
        sortable: false,
        text: 'Duration',
        value: 'duration',
        align: 'right'
      },
      {
        sortable: false,
        text: 'Date',
        value: 'date',
        align: 'right'
      }
      // {
      //   sortable: false,
      //   text: 'Action',
      //   align: 'center'
      // }
    ]
  }),
  computed: {
    ...mapState('report', ['reportListDataTable', 'reportPagination']),
    // reportListDataTable () {
    //   return true
    //   return this.$store.state.report.reportListDataTable
    // },
    reportPagination: {
      get: function () {
        return this.$store.state.timeTracker.reportPagination
      },
      set: function (value) {
        this.setReportPagination(value)
      }
    }
  },
  beforeMount () {
    this.resetReport()
  },
  methods: {
    ...mapMutations('report', ['resetReport']),
    ...mapActions('report', ['reportPaginationHandler', 'fetchReport']),
    rangeReport () {
      this.rangeModel.start = this.Range.start + 'T' + '00:00:00Z'
      this.rangeModel.finish = this.Range.finish + 'T' + '23:59:59Z'
      this.fetchReport(this.rangeModel)
        .then(() => {
          // this.$swal({
          //   title: this.$t(
          //     'Succesfully'
          //   ),
          //   icon: 'success',
          //   buttons: this.$t('ok')
          // })
          if (this.rangeModel != null) {
            this.color = 'success'
            this.text = this.$t('Dashboard.Report.reportingSuccessfully')
            this.notification = true
          }
        })
        .catch(() => {
          // this.$swal({
          //   title: this.$t(
          //     'Failed'
          //   ),
          //   icon: 'error',
          //   buttons: this.$t('ok')
          // })
          this.color = 'error'
          this.text = this.$t('Dashboard.Report.reportingFailed')
          this.notification = true
        })
    },
    sumCount (rowObj) {
      console.log(rowObj)
      let sum = 0
      for (let i = 0; i < rowObj.children.length; i++) {
        sum += rowObj.children[i].count
      }
      return sum
    }
  }
}
</script>
