<template>
  <v-container
    fill-height
    fluid
    grid-list-xl>
    <v-layout
      justify-center
      wrap>
      <v-flex
        xs12
        lg12>
        <material-card
          class="card-tabs"
          color="primary">
          <v-flex slot="header">
            <v-tabs
              v-model="tabs"
              color="transparent"
              slider-color="white">
              <!-- <span
                class="subheading font-weight-light mr-3"
                style="align-self: center"
              >{{ $t('Dashboard.TimeTracker.Worklog.type') }}</span> -->
              <v-tab class="mr-2">
                <v-icon>mdi-timer</v-icon>
                {{ $t('Dashboard.TimeTracker.Worklog.timer') }}
              </v-tab>
              <v-tab class="mr-2">
                <v-icon>mdi-timelapse</v-icon>
                {{ $t('Dashboard.TimeTracker.Worklog.duration') }}
              </v-tab>
              <v-tab>
                <v-icon>mdi-alarm</v-icon>
                {{ $t('Dashboard.TimeTracker.Worklog.startEnd') }}
              </v-tab>
            </v-tabs>
          </v-flex>

          <v-tabs-items v-model="tabs">
            <v-tab-item :key="1">
              <validation-observer ref="obsTab3">
                <!-- <v-form
                  slot-scope="{ invalid, validated }"
                  lazy-validation
                >
                  <v-container
                    py-0
                  >
                    <v-layout
                      wrap
                      justify-center
                >-->
                <!-- <v-flex
                        md7
                        sm10
                        xs12
                      >
                        <validation-provider
                          rules="required"
                          name="description"
                        >
                          <v-text-field
                            slot-scope="{
                              errors,
                              valid
                            }"
                            :error-messages="errors"
                            :success="valid"
                            :label="$t('Dashboard.TimeTracker.Worklog.description')"
                            :disabled="isTimerStart"
                            v-model="timerModel.description"
                            dir="auto"
                            name="description"
                            required
                          />
                        </validation-provider>
                </v-flex>-->
                <stopwatch ref="stopwatch" />

                <!-- <v-flex
                        v-if="!isTimerStart"
                        xs12
                        text-xs-center
                      >
                        <v-btn
                          :disabled="invalid || !validated"
                          class="mx-0 font-weight-light"
                          color="success"
                          type="primary"
                          @click.prevent="startTimerModel"
                        >
                          {{ $t('Dashboard.TimeTracker.Worklog.startBottonLabel') }}
                        </v-btn>
                      </v-flex>
                      <v-flex
                        v-if="isTimerStart"
                        xs12
                        text-xs-center
                      >
                        <v-btn
                          class="mx-0 font-weight-light"
                          color="success"
                          type="primary"
                          @click.prevent="stopTimerModel"
                        >
                          {{ $t('Dashboard.TimeTracker.Worklog.endBottonLabel') }}
                        </v-btn>
                </v-flex>-->
                <!-- </v-layout>
                  </v-container>
                </v-form>-->
              </validation-observer>
            </v-tab-item>
            <v-tab-item :key="2">
              <duration />
              <!-- <select>
                <option>hi</option>
                <option v-for="team in teamList" :key="team.id" :value="team.id">{{team.name}}</option>
              </select> -->
              <!--<validation-observer ref="obsTab1">

                 <v-form
                  slot-scope="{ invalid, validated }"
                  lazy-validation
                >
                  <v-container
                    py-0
                  >
                    <v-layout
                      wrap
                      justify-center
                    >
                      <v-flex
                        md8
                        sm10
                        xs12
                      >
                        <validation-provider
                          rules="required"
                          name="description"
                        >
                          <v-text-field
                            slot-scope="{
                              errors,
                              valid
                            }"
                            :error-messages="errors"
                            :success="valid"
                            :label="$t('Dashboard.TimeTracker.Worklog.description')"
                            v-model="durationModel.description"
                            dir="auto"
                            name="description"
                            required
                          />
                        </validation-provider>
                      </v-flex>
                      <v-flex
                        md2
                        sm2
                        xs12
                        class="mr-4"
                      >
                        <validation-provider
                          rules="required|regex:^([0-9]{2}):([0-9]{2}):([0-9]{2})$"
                          name="duration"
                        >
                          <v-text-field
                            slot-scope="{
                              errors,
                              valid
                            }"
                            :error-messages="errors"
                            :success="valid"
                            :label="$t('Dashboard.TimeTracker.Worklog.duration')"
                            v-model="durationModel.duration"
                            dir="auto"
                            name="duration"
                            placeholder="00:00:00"
                            required
                          />
                        </validation-provider>
                      </v-flex>
                      <v-flex
                        xs12
                        text-xs-center
                      >
                        <v-btn
                          :disabled="invalid || !validated"
                          class="mx-0 font-weight-light"
                          color="success"
                          type="primary"
                          @click.prevent="submitDurationModel"
                        >
                          {{ $t('Dashboard.TimeTracker.Worklog.subtmiBottonLabel') }}
                        </v-btn>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-form>
              </validation-observer>-->
            </v-tab-item>
            <v-tab-item :key="3">
              <dateandtime />
              <!-- <validation-observer ref="obsTab2">

                <v-form
                  slot-scope="{ invalid, validated }"
                  lazy-validation
                >
                  <v-container
                    py-0
                  >
                    <v-layout
                      wrap
                      justify-center
                    >
                      <v-flex
                        md6
                        sm10
                        xs12
                      >
                        <validation-provider
                          rules="required"
                          name="description"
                        >
                          <v-text-field
                            slot-scope="{
                              errors,
                              valid
                            }"
                            :error-messages="errors"
                            :success="valid"
                            :label="$t('Dashboard.TimeTracker.Worklog.description')"
                            v-model="startEndModel.description"
                            dir="auto"
                            name="description"
                            required
                          />
                        </validation-provider>
                      </v-flex>
                      <v-flex
                        md2
                        sm2
                        xs12
                        class="mr-4"
                      >
                        <v-menu
                          ref="startDateMenu"
                          v-model="startDateMenu"
                          :close-on-content-click="false"
                          :nudge-right="40"
                          :return-value.sync="startDate"
                          lazy
                          transition="scale-transition"
                          offset-y
                          full-width
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on }">
                            <v-text-field
                              :label="$t('Dashboard.TimeTracker.Worklog.startDate')"
                              v-model="startDate"
                              readonly
                              v-on="on"
                            />
                          </template>
                          <v-date-picker
                            v-model="startDate"
                            no-title
                            dark
                            scrollable
                            locale="fa"
                          >
                            <v-spacer />
                            <v-btn
                              flat
                              color="primary"
                              @click="startDateMenu = false"
                            >
                              {{ $t('Dashboard.TimeTracker.Worklog.cancel') }}
                            </v-btn>
                            <v-btn
                              flat
                              color="primary"
                              @click="$refs.startDateMenu.save(startDate)"
                            >
                              {{ $t('Dashboard.TimeTracker.Worklog.ok') }}
                            </v-btn>
                          </v-date-picker>
                        </v-menu>
                        <validation-provider
                          rules="required|regex:^([0-9]{2}):([0-9]{2}):([0-9]{2})$"
                          name="startTime"
                        >
                          <v-text-field
                            slot-scope="{
                              errors,
                              valid
                            }"
                            :error-messages="errors"
                            :success="valid"
                            :label="$t('Dashboard.TimeTracker.Worklog.startTime')"
                            v-model="startTime"
                            dir="auto"
                            name="startTime"
                            placeholder="00:00:00"
                            required
                          />
                        </validation-provider>
                      </v-flex>
                      <v-flex
                        md2
                        sm2
                        xs12
                        class="mr-4"
                      >
                        <v-menu
                          ref="endDateMenu"
                          v-model="endDateMenu"
                          :close-on-content-click="false"
                          :nudge-right="40"
                          :return-value.sync="endDate"
                          lazy
                          transition="scale-transition"
                          offset-y
                          full-width
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on }">
                            <v-text-field
                              :label="$t('Dashboard.TimeTracker.Worklog.endDate')"
                              v-model="endDate"
                              readonly
                              v-on="on"
                            />
                          </template>
                          <v-date-picker
                            v-model="endDate"
                            no-title
                            scrollable
                            dark
                            locale="fa"
                          >
                            <v-spacer />
                            <v-btn
                              flat
                              color="primary"
                              @click="endDateMenu = false"
                            >
                              {{ $t('Dashboard.TimeTracker.Worklog.cancel') }}
                            </v-btn>
                            <v-btn
                              flat
                              color="primary"
                              @click="$refs.endDateMenu.save(endDate)"
                            >
                              {{ $t('Dashboard.TimeTracker.Worklog.ok') }}
                            </v-btn>
                          </v-date-picker>
                        </v-menu>
                        <validation-provider
                          rules="required|regex:^([0-9]{2}):([0-9]{2}):([0-9]{2})$"
                          name="endTime"
                        >
                          <v-text-field
                            slot-scope="{
                              errors,
                              valid
                            }"
                            :error-messages="errors"
                            :success="valid"
                            :label="$t('Dashboard.TimeTracker.Worklog.endTime')"
                            v-model="endTime"
                            dir="auto"
                            name="endTime"
                            placeholder="00:00:00"
                            required
                          />
                        </validation-provider>
                      </v-flex>
                      <v-flex
                        xs12
                        text-xs-center
                      >
                        <v-btn
                          :disabled="invalid || !validated"
                          class="mx-0 font-weight-light"
                          color="success"
                          type="primary"
                          @click.prevent="submitStartEndModel"
                        >
                          {{ $t('Dashboard.TimeTracker.Worklog.subtmiBottonLabel') }}
                        </v-btn>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-form>
              </validation-observer>-->
            </v-tab-item>
          </v-tabs-items>
        </material-card>
      </v-flex>
      <v-flex
        md10
        lg12>
        <material-card
          :title="$t('Dashboard.TimeTracker.Worklog.tableTitle')"
          :text="$t('Dashboard.TimeTracker.Worklog.tableSubtitle')"
          color="primary"
        >
          <v-data-table
            v-if="worklogListDataTable"
            id="worklogTable"
            :headers="headers"
            :items="worklogListDataTable"
            :expand="expand"
            :search="search"
            :pagination.sync="worklogPagination"
            :loading="loading"
            rows-per-page-text="تعداد نمایش کارها در صفحه"
          >
            <template
              slot="headerCell"
              slot-scope="{ header }">
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="$t(`Dashboard.TimeTracker.Worklog.${header.text}`)"
              />
            </template>
            <template
              slot="items"
              slot-scope="{ item }">
              <td class="justify-center text-xs-center">
                <v-icon
                  color="primary"
                  @click="Replay(item)">mdi-play</v-icon>
              </td>
              <td>{{ item.description }}</td>
              <!-- <td>
                <v-edit-dialog
                  :return-value.sync="item.description"
                  lazy>
                  {{ item.description }}
                  <template v-slot:input>
                    <v-text-field
                      v-model="item.description"
                      lable="Edit"
                      single-line
                      counter/>
                  </template>
                </v-edit-dialog>
              </td> -->
              <td>{{ item.project }}</td>
              <td>{{ item.team }}</td>
              <td>{{ item.tags | tagstr }}</td>
              <td>{{ item.duration | time }}</td>
              <td>{{ item.start | FormatTime }}</td>
              <td>{{ item.finish | FormatTime }}</td>
              <td>{{ item.start | FormatDate }}</td>
              <td class="justify-center text-xs-center">
                <v-icon
                  small
                  @click="ShowEdit(item)">mdi-pencil</v-icon>
                <v-icon
                  small
                  @click="delWorklog(item.id)">mdi-delete</v-icon>
              </td>
            </template>
          </v-data-table>
        </material-card>
      </v-flex>
      <v-dialog
        v-model="dialog"
        max-width="70%">
        <validation-observer>
          <v-card>
            <v-card-title>ویرایش</v-card-title>
            <v-card-text>
              <v-container grid-list-xl>
                <v-layout>
                  <v-flex lg5>
                    <v-text-field
                      :label="$t('Dashboard.TimeTracker.Worklog.description')"
                      v-model="worklog.description"
                      autofocus
                      dir="auto"
                      name="description"
                      required
                      value=""
                    />
                  </v-flex>
                  <v-flex>
                    <validation-provider
                      rules="required|regex:^([0-9]{2}):([0-5][0-9]):([0-5][0-9])$"
                      name="duration">
                      <v-text-field
                        slot-scope="{
                                      errors,
                                      valid
                                    }"
                        :error-messages="errors"
                        :success="valid"
                        :label="$t('Dashboard.TimeTracker.Worklog.duration')"
                        v-model="worklog.duration"
                        readonly
                        dir="auto"
                        name="duration"
                        placeholder="00:00:00"
                        required
                      />
                    </validation-provider>
                  </v-flex>
                  <v-flex
                    lg2
                    md2
                    sm2
                    xs12
                    class="mr-4">
                    <v-menu
                      ref="startDateMenu"
                      v-model="startDateMenu"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      :return-value.sync="editStartDate"
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      min-width="290px"
                      @input="durationCalculator"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          :label="$t('Dashboard.TimeTracker.Worklog.startDate')"
                          :value="editStartDate | FormatDate"
                          readonly
                          v-on="on"
                        />
                      </template>
                      <v-date-picker
                        :first-day-of-week="-1"
                        v-model="editStartDate"
                        no-title
                        dark
                        scrollable
                        locale="fa"
                      >
                        <v-spacer />
                        <v-btn
                          flat
                          color="primary"
                          @click="startDateMenu = false"
                        >{{ $t('Dashboard.TimeTracker.Worklog.cancel') }}</v-btn>
                        <v-btn
                          flat
                          color="primary"
                          @click="$refs.startDateMenu.save(editStartDate)"
                        >{{ $t('Dashboard.TimeTracker.Worklog.ok') }}</v-btn>
                      </v-date-picker>
                    </v-menu>
                    <validation-provider
                      rules="required|dayTime"
                      name="startTime"
                    >
                      <v-text-field
                        slot-scope="{
                                      errors,
                                      valid
                                    }"
                        :error-messages="errors"
                        :success="valid"
                        :label="$t('Dashboard.TimeTracker.Worklog.startTime')"
                        v-model="editStartTime"
                        dir="auto"
                        name="editStartTime"
                        placeholder="00:00:00"
                        required
                        @input="durationCalculator"
                      />
                    </validation-provider>
                  </v-flex>
                  <v-flex
                    lg2
                    md1
                    sm2
                    xs12
                    class="mr-4">
                    <v-menu
                      ref="endDateMenu"
                      v-model="endDateMenu"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      :return-value.sync="editEndDate"
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      min-width="290px"
                      @input="durationCalculator"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          :label="$t('Dashboard.TimeTracker.Worklog.endDate')"
                          :value="editEndDate | FormatDate"
                          readonly
                          v-on="on"
                        />
                      </template>
                      <v-date-picker
                        :first-day-of-week="-1"
                        v-model="editEndDate"
                        no-title
                        scrollable
                        dark
                        locale="fa">
                        <v-spacer />
                        <v-btn
                          flat
                          color="primary"
                          @click="endDateMenu = false"
                        >{{ $t('Dashboard.TimeTracker.Worklog.cancel') }}</v-btn>
                        <v-btn
                          flat
                          color="primary"
                          @click="$refs.endDateMenu.save(editEndDate)"
                        >{{ $t('Dashboard.TimeTracker.Worklog.ok') }}</v-btn>
                      </v-date-picker>
                    </v-menu>
                    <validation-provider
                      rules="required|dayTime"
                      name="endTime"
                    >
                      <v-text-field
                        slot-scope="{
                                      errors,
                                      valid
                                    }"
                        :error-messages="errors"
                        :success="valid"
                        :label="$t('Dashboard.TimeTracker.Worklog.endTime')"
                        v-model="editEndTime"
                        dir="auto"
                        name="editEndTime"
                        placeholder="00:00:00"
                        required
                        @input="durationCalculator"
                      />
                    </validation-provider>
                  </v-flex>
                  <v-flex
                    lg3
                    class="mr-4"
                    shrink>
                    <v-select
                      :items="projectListItems"
                      v-model="worklog.project"
                      item-value="text"
                      item-text="text"
                      clearable
                      label="پروژه"/>
                  </v-flex>
                  <v-flex
                    lg3
                    class="mr-4"
                    shrink>
                    <v-select
                      :items="teamListItems"
                      v-model="worklog.team"
                      item-value="text"
                      clearable
                      label="تیم"/>
                  </v-flex>
                  <v-flex
                    lg3
                    class="mr-4"
                    shrink>
                    <v-select
                      :items="tagListItems"
                      v-model="worklog.tags"
                      item-value="text"
                      item-text="text"
                      multiple
                      label="برچسب ها"/>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-btn
                color="green"
                @click="dialog = false & submitEditWorklog()">
                ذخیره
              </v-btn>
              <v-btn
                color="blue darken-1"
                flat
                @click="dialog = false">
                بستن
              </v-btn>
            </v-card-actions>
          </v-card>
        </validation-observer>
      </v-dialog>
      <v-snackbar
        v-model="notification"
        :color="color"
        left
        bottom>
        {{ text }}
        <v-btn
          :color="color"
          flat
          @click="notification = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-snackbar>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
import momentjalaali from 'moment-jalaali'
import stopwatch from './TimeTrackerComponents/Stopwatch'
import dateandtime from './TimeTrackerComponents/DateAndTime'
import duration from './TimeTrackerComponents/Duration'
export default {
  name: 'TimeTracker',
  components: {
    stopwatch,
    dateandtime,
    duration
  },
  filters: {
    time (value) {
      if (value != null) {
        return value.split('.')[0]
      }
    },
    date (value) {
      return value.split('T')[0]
    },
    FormatDate (date) {
      return momentjalaali(date).format('jYYYY/jM/jD')
    },
    FormatTime (time) {
      var timezone = new Date().getTimezoneOffset() * 60000
      time = new Date(new Date(time) - timezone)
      return time.toISOString().split('T')[1].substr(0, 8)
    },
    tagstr (item) {
      if (item != null) {
        return item.join(', ')
      }
    }
  },
  data: () => ({
    timezone: new Date().getTimezoneOffset() * 60000,
    loading: true,
    expand: false,
    search: '',
    editStartDate: new Date().toISOString().substr(0, 10),
    startDateMenu: false,
    editEndDate: new Date().toISOString().substr(0, 10),
    endDateMenu: false,
    editStartTime: '00:00:00',
    editEndTime: '00:00:00',
    isTimerStart: false,
    tabs: 0,
    notification: false,
    color: '',
    text: '',
    dialog: false,
    worklog: {
      start: null,
      finish: null,
      description: '',
      team: null,
      tags: null,
      project: null,
      duration: null
    },
    RSbyProject: {
      project: null,
      duration: null
    },
    list: {
      0: false,
      1: false,
      2: false
    },
    started: false,
    durationModel: {
      description: null,
      team: null,
      project: null,
      tags: null,
      duration: '00:00:00'
    },
    startEndModel: {
      description: null,
      start: '00:00:00',
      finish: '00:00:00'
    },
    timerModel: {
      description: null,
      start: new Date()
    },
    headers: [
      {
        sortable: false,
        text: 'Replay',
        value: 'replay',
        align: 'center'
      },
      {
        sortable: false,
        text: 'Description',
        value: 'description',
        align: 'right'
      },
      {
        sortable: false,
        text: 'Project',
        value: 'project',
        align: 'right'
      },
      {
        sortable: false,
        text: 'Team',
        value: 'team',
        align: 'right'
      },
      {
        sortable: false,
        text: 'Tags',
        value: 'tags',
        align: 'right'
      },
      {
        sortable: false,
        text: 'Duration',
        value: 'duration',
        align: 'right'
      },
      {
        sortable: false,
        text: 'StartTime',
        value: 'starttime',
        align: 'right'
      },
      {
        sortable: false,
        text: 'FinishTime',
        value: 'finishtime',
        align: 'right'
      },
      {
        sortable: false,
        text: 'Date',
        value: 'date',
        align: 'right'
      },
      {
        sortable: false,
        text: 'Action',
        align: 'center'
      }
    ]
  }),
  computed: {
    ...mapState('timeTracker', ['worklogListDataTable', 'worklogPagination']),
    ...mapState('team', ['teamList']),
    ...mapState('tag', ['tagList']),
    ...mapState('project', ['projectList']),
    // worklogListDataTable () {
    //   return this.$store.state.timeTracker.worklogListDataTable
    // },
    teamListItems () {
      if (this.teamList != null) {
        return this.teamList.map(team => {
          return {
            text: team.name,
            value: team.id
          }
        })
      } else {
        return []
      }
    },
    projectListItems () {
      if (this.projectList != null) {
        return this.projectList.map(project => {
          return {
            text: project.name,
            value: project.id
          }
        })
      } else {
        return []
      }
    },
    tagListItems () {
      if (this.tagList != null) {
        return this.tagList.map(tag => {
          return {
            text: tag.name,
            value: tag.id
          }
        })
      } else {
        return []
      }
    },
    worklogPagination: {
      get: function () {
        return this.$store.state.timeTracker.worklogPagination
      },
      set: function (value) {
        this.setWorklogPagination(value)
      }
    }
  },
  watch: {
    worklogPagination: {
      handler () {
        this.loading = true
        this.worklogPaginationHandler().then(() => {
          this.loading = false
        })
      },
      deep: true
    }
  },
  beforeMount () {
    this.getWorklogList()
    this.getTeamList()
    this.getProjectList()
    this.getTagList()
    this.isTimerStart =
      false ||
      this.$store.state.timeTracker.isTimerStart ||
      JSON.parse(window.localStorage.getItem('isTimerStart'))
  },
  methods: {
    ...mapActions('timeTracker', [
      'getWorklogList',
      'worklogPaginationHandler',
      'durationModelWorklog',
      'startEndModelWorklog',
      'startTimerModelWorklog',
      'stopTimerModelWorklog',
      'deleteWorklog',
      'editWorklog'
    ]),
    ...mapActions('team', ['getTeamList']),
    ...mapActions('project', ['getProjectList']),
    ...mapActions('tag', ['getTagList']),
    ...mapMutations('timeTracker', ['setWorklogPagination']),

    submitDurationModel () {
      this.durationModelWorklog(this.durationModel)
        .then(() => {
          // this.$swal({
          //   title: this.$t(
          //     'Dashboard.TimeTracker.Worklog.worklogSubmitedSuccessfully'
          //   ),
          //   icon: 'success',
          //   buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
          // })
          this.color = 'success'
          this.text = this.$t('Dashboard.TimeTracker.Worklog.worklogSubmitedSuccessfully')
          this.notification = true
          this.durationModel.description = null
          this.durationModel.duration = '00:00:00'
          this.$refs.obsTab1.reset()
          this.loading = true
          this.getWorklogList().then(() => {
            this.loading = false
          })
        })
        .catch(() => {
          // this.$swal({
          //   title: this.$t(
          //     'Dashboard.TimeTracker.Worklog.worklogSubmitedFailed'
          //   ),
          //   icon: 'error',
          //   buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
          // })
          this.color = 'error'
          this.text = this.$t('Dashboard.TimeTracker.Worklog.worklogSubmitedFailed')
          this.notification = true
        })
    },
    submitStartEndModel () {
      this.startEndModel.start = this.startDate + 'T' + this.startTime + 'Z'
      this.startEndModel.finish = this.endDate + 'T' + this.endTime + 'Z'
      this.startEndModelWorklog(this.startEndModel)
        .then(() => {
          // this.$swal({
          //   title: this.$t(
          //     'Dashboard.TimeTracker.Worklog.worklogSubmitedSuccessfully'
          //   ),
          //   icon: 'success',
          //   buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
          // })
          this.color = 'success'
          this.text = this.$t('Dashboard.TimeTracker.Worklog.worklogSubmitedSuccessfully')
          this.notification = true
          this.startEndModel.description = null
          this.startEndModel.start = '00:00:00'
          this.startEndModel.finish = '00:00:00'
          this.startTime = '00:00:00'
          this.endTime = '00:00:00'
          this.$refs.obsTab2.reset()
          this.loading = true
          this.getWorklogList().then(() => {
            this.loading = false
          })
        })
        .catch(() => {
          // this.$swal({
          //   title: this.$t(
          //     'Dashboard.TimeTracker.Worklog.worklogSubmitedFailed'
          //   ),
          //   icon: 'error',
          //   buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
          // })
          this.color = 'error'
          this.text = this.$t('Dashboard.TimeTracker.Worklog.worklogSubmitedFailed')
          this.notification = true
        })
    },
    startTimerModel () {
      this.timerModel.start = new Date().toISOString().split('.')[0] + 'Z'
      this.startTimerModelWorklog(this.timerModel)
        .then(() => {
          this.isTimerStart = true
          this.$swal({
            title: this.$t(
              'Dashboard.TimeTracker.Worklog.worklogStartSuccessfully'
            ),
            icon: 'success',
            buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
          })
        })
        .catch(() => {
          this.$swal({
            title: this.$t('Dashboard.TimeTracker.Worklog.worklogStartFailed'),
            icon: 'error',
            buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
          })
        })
    },
    stopTimerModel () {
      this.stopTimerModelWorklog()
        .then(() => {
          this.loading = false
          // this.$swal({
          //   title: this.$t(
          //     'Dashboard.TimeTracker.Worklog.worklogStopSuccessfully'
          //   ),
          //   icon: 'success',
          //   buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
          // })
          this.color = 'success'
          this.text = this.$t('Dashboard.TimeTracker.Worklog.worklogStopSuccessfully')
          this.notification = true
          this.isTimerStart = false
          this.timerModel.description = null
          this.$refs.obsTab3.reset()
          this.getWorklogList().then(() => {
            this.loading = false
          })
        })
        .catch(() => {
          // this.$swal({
          //   title: this.$t('Dashboard.TimeTracker.Worklog.worklogStopFailed'),
          //   icon: 'error',
          //   buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
          // })
          this.color = 'error'
          this.text = this.$t('Dashboard.TimeTracker.Worklog.worklogStopFailed')
          this.notification = true
        })
    },
    delWorklog (worklogId) {
      this.$swal({
        title: this.$t('Dashboard.TimeTracker.Worklog.AreYouSureToDelete'),
        text: this.$t('Dashboard.TimeTracker.Worklog.IfYouDelete'),
        icon: 'warning',
        buttons: [
          this.$t('Dashboard.TimeTracker.Worklog.cancel'),
          this.$t('Dashboard.TimeTracker.Worklog.ok')
        ],
        dangerMode: true
      }).then(willDelete => {
        if (willDelete) {
          this.deleteWorklog(worklogId).then(() => {
            // this.$swal({
            //   title: this.$t(
            //     'Dashboard.TimeTracker.Worklog.worklogDeleteSuccessfully'
            //   ),
            //   icon: 'success',
            //   buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
            // })
            this.color = 'success'
            this.text = this.$t('Dashboard.TimeTracker.Worklog.worklogDeleteSuccessfully')
            this.notification = true
            this.getWorklogList().then(() => {
              this.loading = false
            })
          })
        } else {
          // this.$swal({
          //   title: this.$t('Dashboard.TimeTracker.Worklog.worklogNotDeleted'),
          //   icon: 'info',
          //   buttons: this.$t('Dashboard.TimeTracker.Worklog.ok')
          // })
          this.color = 'error'
          this.text = this.$t('Dashboard.TimeTracker.Worklog.worklogNotDeleted')
          this.notification = true
        }
      })
    },
    Replay (item) {
      this.worklog = JSON.parse(JSON.stringify(item))
      var teamName = this.worklog.team
      var teamId
      if (teamName !== undefined) {
        var teamObj = this.teamList.find((team) => {
          return teamName === team.name
        })
        if (teamObj !== undefined) {
          teamId = teamObj.id
        }
      } else {
        teamId = null
      }
      var projectName = this.worklog.project
      var projectId
      if (projectName !== undefined) {
        var projectObj = this.projectList.find((project) => {
          return projectName === project.name
        })
        if (projectObj !== undefined) {
          projectId = projectObj.id
        }
      } else {
        projectId = null
      }
      var tags = null
      if (this.worklog.tags != null) {
        tags = this.worklog.tags.toString().split(',')
      }
      this.$refs.stopwatch.model = {
        start: null,
        finish: null,
        description: this.worklog.description,
        duration: '00:00:00',
        team: teamId,
        project: projectId,
        tags: tags
      }
      this.$refs.stopwatch.start()
    },
    durationCalculator () {
      var start = this.editStartDate + 'T' + this.editStartTime + 'Z'
      var finish = this.editEndDate + 'T' + this.editEndTime + 'Z'
      var duration = new Date(finish) - new Date(start)
      if (duration >= 0) {
        var seconds = parseInt((duration / 1000) % 60)
        var minutes = parseInt((duration / (1000 * 60)) % 60)
        var hours = parseInt(duration / (1000 * 60 * 60))
        hours = (hours < 10) ? '0' + hours : hours
        minutes = (minutes < 10) ? '0' + minutes : minutes
        seconds = (seconds < 10) ? '0' + seconds : seconds
        this.worklog.duration = (hours + ':' + minutes + ':' + seconds)
      }
    },
    ShowEdit (item) {
      // this.worklog.team
      this.worklog = JSON.parse(JSON.stringify(item))
      this.worklog.start = new Date(new Date(this.worklog.start) - this.timezone)
      this.worklog.finish = new Date(new Date(this.worklog.finish) - this.timezone)
      this.dialog = true
      this.editStartDate = this.worklog.start.toISOString().substr(0, 10)
      this.editEndDate = this.worklog.finish.toISOString().substr(0, 10)
      this.editStartTime = this.worklog.start.toISOString().split('T')[1].substr(0, 8)
      this.editEndTime = this.worklog.finish.toISOString().split('T')[1].substr(0, 8)
      this.worklog.duration = this.worklog.duration.split('.')[0]
    },
    submitEditWorklog (item) {
      var data = JSON.parse(JSON.stringify(this.worklog))
      data.start = this.editStartDate + 'T' + this.editStartTime + 'Z'
      data.finish = this.editEndDate + 'T' + this.editEndTime + 'Z'
      if (data.team !== undefined) {
        var teamObj = this.teamList.find((team) => {
          return data.team === team.name
        })
        if (teamObj !== undefined) {
          data.team = teamObj.id
        }
      } else {
        data.team = null
      }
      if (data.project !== undefined) {
        var projectObj = this.projectList.find((project) => {
          return data.project === project.name
        })
        if (projectObj !== undefined) {
          data.project = projectObj.id
        }
      } else {
        data.project = null
      }
      // console.log('tags : ', data.tags)
      // data.tags = data.tags.map((tagName) => {
      //   var tag = this.tagList.find(tagObj => tagObj.name === tagName)
      //   return tag.name
      // })
      // console.log('tags : ', data.tags)

      this.editWorklog(data).then(() => {
        this.color = 'success'
        this.text = this.$t('Dashboard.TimeTracker.Worklog.worklogEditSuccessfully')
        this.notification = true
        this.getWorklogList().then(() => {
          this.loading = false
        })
      })
        .catch(() => {
          this.color = 'error'
          this.text = this.$t('Dashboard.TimeTracker.Worklog.worklogEditFailed')
          this.notification = true
        })
    }
  }
}
</script>

<style scoped>
#worklogTable >>> .v-btn__content {
  color: #000 !important;
}
</style>
<style lang="scss">
.btn-container {
  display: flex;
  //margin-top: 15px;
  text-align: center;
  //padding-top: 18px;
}

.btn-container a {
  text-align: center;
  font-family: "Share Tech Mono", sans-serif;
  background: transparent;
  //border: 3px solid $color;
  border: none;
  // color: $color;
  padding: 10px 15px;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 23px;
  cursor: pointer;
  //text-shadow: 0px 0px 10px $color;
  text-align: center;
  padding-top: 18px;
  flex-grow: 1;

  transition: color 0.1s ease-out;
}
</style>
