<template>
  <v-container
    fill-height
    fluid
    grid-list-xl>
    <v-layout
      justify-center
      wrap>
      <v-flex
        xs12
        md8
      >
        <material-card
          color="primary"
          title="ویرایش پروفایل"
          text="در اینجا پروفایل خود را تکمیل کنید"
        >
          <v-form>
            <v-container py-0>
              <v-layout wrap>
                <v-flex
                  xs12
                  md4
                >
                  <v-text-field
                    v-model="userModel.username"
                    label="نام کاربری"
                  />
                </v-flex>
                <v-flex
                  xs12
                  md8
                >
                  <v-text-field
                    v-model="userModel.email"
                    label="آدرس ایمیل"/>
                </v-flex>
                <v-flex
                  xs12
                  md6
                >
                  <v-text-field
                    v-model="userModel.first_name"
                    label="نام"/>
                </v-flex>
                <v-flex
                  xs12
                  md6
                >
                  <v-text-field
                    v-model="userModel.last_name"
                    label="نام خانوادگی"/>
                </v-flex>
                <v-flex
                  xs12
                  text-xs-right
                >
                  <v-btn
                    class="mx-0 font-weight-light"
                    color="success"
                    @click.prevent="submitUpdateProfile"
                  >
                    ویرایش
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>
        </material-card>
      </v-flex>
      <v-flex
        xs12
        md4
      >
        <!-- <material-card class="v-card-profile">
          <v-avatar
            slot="offset"
            class="mx-auto d-block"
            size="130"
          >
            <img
              src="/assets/img/marc.jpg"
            >
          </v-avatar>
          <v-card-text class="text-xs-center">
            <h6 class="category text-gray font-weight-thin mb-3">CEO / CO-FOUNDER</h6>
            <h4 class="card-title font-weight-light">Alec Thompson</h4>
            <p class="card-description font-weight-light">Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...</p>
            <v-btn
              color="success"
              round
              class="font-weight-light"
            >Follow</v-btn>
          </v-card-text>
        </material-card> -->
        <material-card
          title="تغییر رمز عبور"
          text="رمز عبور را اینجا تغییر دهید"
          color="primary">
          <v-text-field
            v-model="passModel.new_password1"
            :prepend-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
            :type="show ? 'text' : 'password'"
            label="رمز جدید"
            @click:prepend="show = !show"/>
          <v-text-field
            v-model="passModel.new_password2"
            :prepend-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
            :type="show ? 'text' : 'password'"
            label="تأیید رمز جدید"
            @click:prepend="show = !show"/>
          <v-btn
            color="success"
            @click.prevent="submitNewPassword">
            تغییر
          </v-btn>
        </material-card>
      </v-flex>
      <v-snackbar
        v-model="notification"
        :color="color"
        left
        bottom>
        {{ text }}
        <v-btn
          :color="color"
          flat
          @click="notification = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-snackbar>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  name: 'UserProfile',
  data: () => ({
    show: false,
    notification: false,
    color: '',
    text: '',
    passModel: {
      new_password1: null,
      new_password2: null
    },
    userModel: {
      username: null,
      email: null,
      first_name: null,
      last_name: null,
      avatar: null
    }
  }),
  computed: {
    ...mapState('user', ['info'])
  },
  beforeMount: function () {
    this.getUserInfo().then(() => {
      // if (setInfo != null) {
      //   this.userModel.username = setInfo.username
      //   this.userModel.first_name = setInfo.first_name
      //   this.userModel.last_name = setInfo.last_name
      //   this.userModel.email = setInfo.email
      // }
      this.userModel = JSON.parse(JSON.stringify(this.info))
    })
    // console.log(this.$store.state.info);
  },
  methods: {
    ...mapActions('user', ['changePassword', 'getUserInfo', 'UpdateProfile']),
    submitNewPassword () {
      this.changePassword(this.passModel)
        .then(() => {
          // this.$swal({
          //   title: this.$t(
          //     'Succesfully'
          //   ),
          //   icon: 'success',
          //   buttons: this.$t('ok')
          // })
          this.color = 'success'
          this.text = this.$t('تغییر رمز با موفقیت انجام شد ')
          this.notification = true
          this.passModel.new = null
          this.passModel.confirm = null
        })
        .catch(() => {
          // this.$swal({
          //   title: this.$t(
          //     'Failed'
          //   ),
          //   icon: 'error',
          //   buttons: this.$t('ok')
          // })
          this.color = 'error'
          this.text = this.$t('تغییر رمز با مشکل مواجه شد')
          this.notification = true
        })
    },
    submitUpdateProfile () {
      this.UpdateProfile(this.userModel)
        .then(() => {
          // this.$swal({
          //   title: this.$t(
          //     'Succesfully'
          //   ),
          //   icon: 'success',
          //   buttons: this.$t('ok')
          // })
          // this.userModel.username = null
          // this.userModel.first_name = null
          // this.userModel.last_name = null
          // this.userModel.email = null
          // this.userModel.avatar = null
          this.color = 'success'
          this.text = this.$t('تغییر حساب کاربری با موفقیت انجام شد ')
          this.notification = true
        })
        .catch(() => {
          // this.$swal({
          //   title: this.$t(
          //     'Failed'
          //   ),
          //   icon: 'error',
          //   buttons: this.$t('ok')
          // })
          this.color = 'error'
          this.text = this.$t('تغییر حساب کاربری با مشکل مواجه شد')
          this.notification = true
        })
    }
  }
}
</script>
