<template>
  <div class="count-down">
    <center>{ {time} }</center>
  </div>
</template>
<script>
export default {
  props: {
    initTime: {
      type: Number,
      default: 60
    }
  },
  data: function () {
    return {
      time: this.initTime,
      intervalId: undefined
    }
  },
  mounted: function () {
    this.intervalId = setInterval(() => this.timeChanger(), 1000)
  },
  destroyed: function () {
    clearInterval(this.intervalId)
  },
  methods: {
    timeChanger () {
      if (this.time > 0) {
        this.time--
      } else {
        this.$emit('finished')
        clearInterval(this.intervalId)
      }
    }
  }
}
</script>
