
<style>
    p,ul,li{
        direction:rtl;
    }
    ul.c{
        list-style-type: circle;
    }
</style>
<p>
    ویژگی های مدیریت زمان: این نرم افزار مخصوص رصد کردن زمان های کاری افراد در یک تیم و همچنین میزان تولید مشارکت و ساعات قابل پرداخت دستمزد است.</br>
</br>
</br>
  تایم کیپینگ یا نگهداری زمان
</p>
<ul>
    <li>
        با یک تایمر زمان را ردگیری کنید
    </li>
    <li>
        این زمان بندی را در یک جدول زمانی وارد کنید
    </li>
    <li>
        بر اساس پروژه زمان ها را دسته بندی کنید
    </li>
    <li>
        زمان های قابل پرداخت یا غیر قابل پرداخت دستمزد را مشخص کنید
    </li>
</ul>
<p>
       گزارش
</p>
<ul>
    <li>
            نمودارهای زمان بندی گرافیکی
    </li>
    <li>
             گزارش های قابل شخصی سازی
    </li>
    <li>
           قابلیت به اشتراک گذاری گزارشات
    </li>
    <li>
        به هر فرمتی که خواستید از این گزارشات خروجی بگیرید  
    </li>
</ul>
<p>
   فعالیت های تیمی        
</p>

<ul>
        <li>
            تمام تیم را به این نرم افزار دعوت کنید
        </li>
        <li>
                 نرخ ساعتی تعیین کنید       
        </li>
        <li>
               درجریان فعالیت های در حال انجام قرار بگیرید
        </li>
        <li>
                از این که چه کسی روی چه چیزی کار کرده است مطلع شوید
        </li>
</ul>
</p>

